{% extends "base.html" %}
{% load static %}

{% block title %}Your Shopping Cart{% endblock %}

{% block content %}
    <div class="correct-header">
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row shop-top-row">
                <div class="col-12">
                    {% include 'cart/includes/breadcrumbs.html' %}
                </div>
            </div>
        </div>
    </div>

    {% if cart_items %}
        {% include 'cart/includes/full_cart.html' %}
    {% else %}
        {% include 'cart/includes/empty_cart.html' %}
    {% endif %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/quantity_input.js' %}"></script>
    <script src="{% static 'cart/js/modify_quantity.js' %}"></script>

    <!-- putting this in js folder changes the context and doesnt pass CSRF -->
    <script>
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('remove_')[1];
            let url = `/cart/remove/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        });
    </script>
{% endblock %}