<div class="breadcrumbs">
    <p class="breadcrumbs-text">
        <a href="{% url 'homepage' %}" class="breadcrumb-link">Home</a>
        |
        <a href="{% url 'products' %}" class="breadcrumb-link">Shop</a>
        |
        {% if current_categories %}
            {% for category in current_categories %}
                <span class="active-breadcrumb">{{ category.friendly_name }} ({{ products|length}})</span>
            {% endfor %}
        {% else %}
            <span class="active-breadcrumb">All products ({{ products|length}})</span>
        {% endif %}
    </p>
</div>