<div class="breadcrumbs">
    <p class="breadcrumbs-text">
        <a href="{% url 'homepage' %}" class="breadcrumb-link">Home</a>
        |
        <a href="{% url 'products' %}" class="breadcrumb-link">Shop</a>
        |
        <!-- category breadcrumb -->
        {% if current_categories %}
            {% for category in current_categories %}
                <span class="active-breadcrumb">{{ category.friendly_name }} ({{ products|length}})</span>
            {% endfor %}
        <!-- search query breadcrumb -->
        {% elif search_term %}
            <span class="active-breadcrumb">Results for the search term: {{ search_term|truncatechars:25 }} ({{ products|length}})</span>
        <!-- product tag breadcrumb -->
        {% elif product_tag %}
            <span class="active-breadcrumb">{{ product_tag }} products ({{ products|length}})</span>
            {% else %}
            <span class="active-breadcrumb">All products ({{ products|length}})</span>
        {% endif %}
    </p>
</div>