<!-- filter through categories and tags, gallery -->

<div class="categories-ctas mob-categories-ctas">
    <a href="{% url 'products' %}?category=skincare" class="cta mob-tag-filter">Skincare</a>
    <a href="{% url 'products' %}?category=shaving" class="cta mob-tag-filter">Shaving</a>
    <a href="{% url 'products' %}?category=toiletries" class="cta mob-tag-filter">Toiletries</a>
    <a href="{% url 'products' %}?category=sets_bags" class="cta mob-tag-filter">Sets & Bags</a>
    <a href="{% url 'products' %}?crueltyfree_products" class="cta mob-tag-filter">Cruelty-free</a>
    <a href="{% url 'products' %}?vegan_products" class="cta mob-tag-filter">100% vegan</a>
    <a href="{% url 'products' %}?organic_products" class="cta mob-tag-filter">100% organic</a>
    <a href="{% url 'products' %}?natural_products" class="cta mob-tag-filter">100% natural</a>
</div>