<div class="row">
    <div class="col-12">
        <h2 class="h2-style recommendation-title">Recommended for you:</h2>
    </div>
</div>

<div class="row product-recommendations-row">
    <div class="gallery">
        <div class="product-recommendations-div">
            {% include 'products/includes/recommended_product_card_1.html' %}
        </div>
        <div class="product-recommendations-div">
            {% include 'products/includes/recommended_product_card_2.html' %}
        </div>
        <div class="product-recommendations-div">
            {% include 'products/includes/recommended_product_card_3.html' %}
        </div>
    </div>
</div>

<div class="row recommendation-cta">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <a href="#" class="cta cta-white">Shop all</a>
        </div>
    </div>
</div>