<!-- product card code -->

<div class="div-product-card div-product-card-shop">
    <div class="product-card-category-name">
        <p>{{ product.category.friendly_name }}</p>
    </div>
    <div class="product-card-content">
        <a href="{% url 'product_page' product.id %}" class="product-page-link">
            <div class="div-product-card-img">
                <img src="/media/{{ product.image }}" alt="">
            </div>
            <p class="product-card-title">{{ product.name }}</p>
        </a>
        <p class="product-card-brand-price">
            <span class="product-card-brand">{{ product.brand.friendly_name }}</span>
            |
            <span class="product-card-price">{{ product.price }}</span>€
        </p>
        <div class="d-flex justify-content-center">
            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                    <input name="quantity" type="hidden" value="1">
                    <input type="submit" class="cta cta-white" value="Add to cart">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
</div>