<!-- display products / product cards -->

<div class="row div-shop">
    <div class="container container-shop">

        {% if products|length == 0 %}
            {% include 'products/includes/no_search_results.html' %}
        {% else %}
            <div class="row">
                <div class="col-lg-4 d-lg-block d-none">
                    <div class="dsk-visual-filters">
                        {% include 'products/includes/visual_filter.html' %}
                    </div>
                </div>

            <div class="row d-block d-lg-none d-xl-none mob-visual-filters-row">
                <h4 class="h4-style mb-7">Filter products by:</h4>
                <div class="visual-filters">
                    {% include 'products/includes/mob_visual_filter.html' %}
                </div>
            </div>

            <div class="scroll-to-top d-block d-lg-none">
                <img src="{{ STATIC_URL }}images/icons/icon-accordion-arrow-up-gray.svg" alt="Icon Arrow Up">
            </div>

                <div class="col-lg-8 col-md-12">
                    <div class="row product-card-row">
                        {% for product in products %}
                        <div class="col-sm-6 col-12">
                            <div class="float-lg-right">
                                {% include 'products/includes/product_card.html' %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>