<!-- display products / product cards -->

<div class="row hp-section-1">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-lg-block d-none">
                <div class="visual-filters">
                    {% include 'products/includes/visual_filter.html' %}
                </div>
            </div>

        <div class="row d-block d-lg-none d-xl-none mob-visual-filters-row">
            <h4 class="h4-style mb-7">Filter products by:</h4>
            <div class="visual-filters">
                {% include 'products/includes/mob_visual_filter.html' %}
            </div>
        </div>

            <div class="col-lg-8 col-md-12">
                <div class="row product-card-row">
                    {% for product in products %}
                    <div class="col-sm-6 col-12">
                        {% include 'products/includes/product_card.html' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>