<!-- sorting dropdown box top right -->

<div class="dropdown-sort-products">
    <select class="sort-selector" id="sort-selector">
        <option value="reset" disabled selected>Sort products by</option>
        <option value="all_products">All products</option>
        <option value="price_asc">Price (low to high)</option>
        <option value="price_desc">Price (high to low)</option>
        <option value="name_asc">Name (A-Z)</option>
        <option value="name_desc">Name (Z-A)</option>
    </select>
</div>