<!-- filter through categories and tags on the left, sticky -->

<h3 class="h3-style">Filter by category:</h3>
<div class="categories-ctas">
    <a href="#" class="cta cta-white">Skincare</a>
    <a href="#" class="cta cta-white">Shaving</a>
</div>
<div class="categories-ctas">
    <a href="#" class="cta cta-white">Toiletries</a>
    <a href="#" class="cta cta-white">Sets & Bags</a>
</div>

<h3 class="h3-style">Filter by product tag:</h3>
<div class="tag-filters">
    <a href="#" class="icon-filter-link">
        <div class="div-tag-icon">
            <img src="/static/images/icons/product-tags/icon-tag-cruelty-free.svg" alt="">
        </div>
        <p class="tag-meaning">Cruelty-free</p>
    </a>
    <a href="#" class="icon-filter-link">
        <div class="div-tag-icon">
            <img src="/static/images/icons/product-tags/icon-tag-vegan.svg" alt="">
        </div>
        <p class="tag-meaning">100% vegan</p>
    </a>
</div>
<div class="tag-filters">
    <a href="#" class="icon-filter-link">
        <div class="div-tag-icon">
            <img src="/static/images/icons/product-tags/icon-tag-organic.svg" alt="">
        </div>
        <p class="tag-meaning">100% organic</p>
    </a>
    <a href="#" class="icon-filter-link">
        <div class="div-tag-icon">
            <img src="/static/images/icons/product-tags/icon-tag-natural.svg" alt="">
        </div>
        <p class="tag-meaning">100% natural</p>
    </a>
</div>