<!-- filter through categories and tags on the left, sticky -->

<h3 class="h3-style">Filter by category:</h3>
<div class="categories-ctas">
    <a href="{% url 'products' %}?category=skincare" class="cta cta-white margin-r-5">Skincare</a>
    <a href="{% url 'products' %}?category=toiletries" class="cta cta-white">Toiletries</a>
</div>
<div class="categories-ctas">
    <a href="{% url 'products' %}?category=shaving" class="cta cta-white margin-r-5">Shaving</a>
    <a href="{% url 'products' %}?category=sets_bags" class="cta cta-white">Sets & Bags</a>
</div>

<h3 class="h3-style">Filter by product tag:</h3>
<div class="tag-filters">
    <a href="{% url 'products' %}?product_tag=is_crueltyfree" class="icon-filter-link">
        <div class="div-tag-icon">
            <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-cruelty-free.svg" alt="Icon Cruelty-Free Tag">
        </div>
        <p class="tag-meaning">Cruelty-free</p>
    </a>
    <a href="{% url 'products' %}?product_tag=is_vegan" class="icon-filter-link">
        <div class="div-tag-icon">
            <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-vegan.svg" alt="Icon Vegan Tag">
        </div>
        <p class="tag-meaning">100% vegan</p>
    </a>
</div>
<div class="tag-filters">
    <a href="{% url 'products' %}?product_tag=is_organic" class="icon-filter-link">
        <div class="div-tag-icon">
            <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-organic.svg" alt="Icon Organic Tag">
        </div>
        <p class="tag-meaning">100% organic</p>
    </a>
    <a href="{% url 'products' %}?product_tag=is_natural" class="icon-filter-link">
        <div class="div-tag-icon">
            <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-natural.svg" alt="Icon Natural Tag">
        </div>
        <p class="tag-meaning">100% natural</p>
    </a>
</div>