{% extends "base.html" %}
{% load static %}

{% block title %}Your Loyalty Status{% endblock %}

{% block content %}
    <div class="correct-header">
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row shop-top-row">
                <div class="col-12">
                    {% include 'profiles/includes/breadcrumbs_loyalty.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h2-style text-center">Your loyalty points status</h1>
                <div class="div-hr"></div>
            </div>
        </div>
    </div>

    <div class="container profile-container mb-1">
        <div class="row">
            <div class="col-12">
                <p class="profile-intro-p">
                    <img src="/static/images/about/usp-illustrations/icon-usp-medal.svg" class="loyalty-status-img" alt="Icon Medal">
                    Hi <span class="green-text">{{ user.username }}</span>, you have <span class="green-text">{{ profile.total_loyalty_points }} points</span>
                    in total! So far you have donated <span class="green-text">{{ profile.donated_loyalty_points }} points</span> to good causes.
                </p>
            </div>
        </div>
    </div>

    {% if profile.total_loyalty_points < 61 %}
        {% include 'profiles/includes/loyalty_level_1.html' %}
    {% endif %}

    {% if profile.total_loyalty_points > 60 %}
        {% include 'profiles/includes/loyalty_level_1.html' %}
        {% include 'profiles/includes/loyalty_level_2.html' %}
    {% endif %}

    {% if profile.total_loyalty_points > 100 %}
        {% include 'profiles/includes/loyalty_level_3.html' %}
    {% endif %}

{% endblock %}