{% extends "base.html" %}
{% load static %}

{% block title %}Your Order History{% endblock %}

{% block content %}
    <div class="correct-header">
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row shop-top-row">
                <div class="col-12">
                    {% include 'profiles/includes/breadcrumbs_order_history.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h2-style text-center">Your order history</h1>
                <div class="div-hr"></div>
            </div>
        </div>
    </div>

    <div class="container profile-container mb-1">
        <div class="row">
            <div class="col-12">
                <p class="profile-intro-p">
                    Below are all your recent purchases through this account, <span class="green-text">{{ user.username }}</span>.
                    Click on the order ID for more details.
                </p>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        {% for order in orders %}
            <div class="container profile-container mt-4 mb-2 div-profile-order">
                <div class="row">
                    <div class="col-12 col-md-5 profile-order-details">
                        <p class="mb-1">date: {{ order.date }}</p>
                        <p class="mb-3">order ID: <a href="#" class="text-link">{{ order.order_number|truncatechars:15 }}</a></p>
                        <p class="mb-1 text-uppercase green-text">Total: {{ order.grand_total }}€</p>
                        <p class="mb-1 text-uppercase green-text">Loyalty points: [{{ order.loyalty_points }}]</p>
                    </div>
                    <div class="col-12 col-md-7 profile-line-item-details">
                        <p class="mb-1">items:</p>
                        <div class="pl-3">
                            <ul class="list-unstyled">
                                {% for item in order.lineitems.all %}
                                    <li>
                                        <span class="text-uppercase">{{ item.quantity }}</span> x 
                                        <span class="text-uppercase">{{ item.product.name }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}