{% extends "base.html" %}
{% load static %}

{% block title %}Your Profile{% endblock %}

{% block content %}
    <div class="correct-header">
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row shop-top-row">
                <div class="col-12">
                    {% include 'profiles/includes/breadcrumbs.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h2-style text-center">Your profile</h1>
                <div class="div-hr"></div>
            </div>
        </div>
    </div>

    <a href="{% url 'edit_profile' %}">edit profile</a>
    <a href="{% url 'order_history' %}">order history</a>
    <a href="{% url 'loyalty_status' %}">loyalty status</a>

{% endblock %}