{% extends "base.html" %}
{% load static %}

{% block header_content %}
    <div id="homepage-header">
        <div class="container">
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div class="header-content ml-auto">
                        <div class="header-text">
                            <h1 id="hp-header-h1">ECOSiO</h1>
                            <p id="hp-header-tagline">eco-friendly cosmetics for men</p>
                        </div>
                        <div class="line ml-auto"></div>
                        <div class="ml-auto" id="hp-header-cta">
                            <a href="#" class="cta cta-white ml-auto">Shop here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>HELLO WORLD!</h1>
    </div>
{% endblock %}