{% extends "base.html" %}
{% load static %}

{% block title %}eco-friendly cosmetics for men{% endblock %}

{% block header_content %}
    <div id="homepage-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="header-content ml-auto">
                        <div class="header-text">
                            <h1 id="hp-header-h1">ECOSiO</h1>
                            <p id="hp-header-tagline">eco-friendly cosmetics for men</p>
                        </div>
                        <div class="line ml-auto"></div>
                        <div class="ml-auto" id="hp-header-cta">
                            <a href="#" class="cta cta-white ml-auto">Shop here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'homepage/includes/section_content_1.html' %}
    {% include 'homepage/includes/section_content_2.html' %}
    {% include 'homepage/includes/section_content_3.html' %}
    {% include 'homepage/includes/section_content_4.html' %}
    {% include 'homepage/includes/section_content_5.html' %}
{% endblock %}