@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --color-black: #333333;
    --color-green: #45AD9A;
    --color-gray: #C4C4C4;
    --color-gray-light: #F5F5F5;
    --color-white: #FFFFFF;
    --color-error: #DA4EAA;
    --border-black: 1px solid var(--color-black);
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-roboto);
    color: var(--color-black);
}

main {
    min-height: calc(100vh - 165px);
}

h1, h2, h3, h4 {
    font-family: var(--font-poppins);
}

h2, .h2-style {
    text-transform: uppercase;
    font-size: 25px;
}

.h1-style {
    text-transform: uppercase;
    font-size: 40px;
    margin: 65px auto 20px auto;
}

.h3-style {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.h4-style {
    text-transform: uppercase;
    font-size: 12px;
}

.paragraph-subtitle {
    margin: 0 auto 50px auto;
}

.nav-link {
    color: var(--color-black);
    font-family: var(--font-poppins);
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
}

.navbar, .navbar-expand-lg .navbar-nav .nav-link {
    padding: 9px 0;
}

.nav-link .span-green {
    color: var(--color-green);
    text-transform: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--color-black);
}

.navbar-toggler img {
    width: 40px;
}

.navbar-toggler:focus, .navbar-toggler:active:focus {
    outline: transparent;
}

#logo, .logo {
    font-size: 25px;
}

#logo:hover, .navbar .logo {
    text-decoration: none;
}

#div-nav {
    box-shadow: var(--box-shadow);
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: var(--color-white);
    z-index: 999;
}

.form-control {
    height: 30px;
    border: none;
}

.input-group-button .form-control {
    padding-top: 2px;
}

input[type="text"], input[type="email"], .stripe-style-input,
.profile-form-input, .div-signup-form input,
.add-product-form-field, .div-login-form input,
.div-password-reset-form input, .add-blog-form-field {
    font-family: var(--font-roboto);
    color: var(--color-black);
    font-size: 12px;
}

input[type="submit"], input[type="file"],
input[type="file"]:active, input[type="file"]:focus {
    outline: transparent;
}

.btn, .btn:active, .btn:focus {
    box-shadow: none;
}

.div-password-reset-form input[type="submit"] {
    color: var(--color-white);
}

.div-password-reset-form input[type="submit"]:hover {
    color: var(--color-black);
}

input[type="file"] {
    border: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

::placeholder {
    font-family: var(--font-roboto);
    color: var(--color-gray)!important;
}

.mail-to-link:hover {
    color: var(--color-green);
}

#div_id_remember {
    padding-left: 1.25rem;
}

#main-nav {
    top: 50px;
}

#main-nav .nav-link {
    padding-right: 55px;
}

#top-nav {
    z-index: 1050;
}

.dropdown-menu {
    border-radius: revert;
    text-align: right;
    width: max-content;
}

.dropdown-item {
    padding: 9px;
    padding-left: 55px;
}

.dropdown-item:active, .dropdown-item:focus {
    background-color: var(--color-gray-light);
}

.black-line {
    border-bottom: var(--border-black);
    width: 90%;
    margin: 10px auto;
}

#user-options {
    padding-left: 55px;
}

.container {
    width: 900px;
}

button, button:hover, button:active, button:focus {
    outline: transparent;
}

.cta {
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 30px;
    border: var(--border-black);
}

.cta-white, .cta-black:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    text-decoration: none;
}

.cta-black, .cta-white:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    text-decoration: none;
}

.paragraph-cta {
    width: fit-content;
    margin: 50px auto;
}

.border-black {
    border: var(--border-black);
}

.text-line-through {
    text-decoration: line-through;
    font-size: 12px;
}

.no-padding {
    padding: 0;
}

.plr-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.mb-7 {
    margin-bottom: 7px;
}

.margin-r-5 {
    margin-right: 5px;
}

.display-none {
    display: none;
}

.green-text {
    color: var(--color-green);
}

.gray-text {
    color: var(--color-gray);
}

.black-text {
    color: var(--color-black);
}

.text-link {
    color: var(--color-black);
    text-decoration: underline;
}

.text-link:hover {
    color: var(--color-green);
}

.form-image-preview {
    object-fit: cover;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal-header {
    padding: 0.5rem 1rem;
    border: none;
}

.modal-footer {
    justify-content: center;
    padding: 2rem;
    border: none;
}

.modal-title-h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--color-green);
}

.modal-text {
    margin-top: 2rem;
    margin-bottom: 0;
}

.modal-button {
    border: none;
    background-color: transparent;
    padding: 0px;
}

.modal-button:focus, .modal-button:active, .modal-button:hover {
    outline: transparent;
}
/* homepage */
/* header */
#hp-header-h1, #hp-header-tagline {
    color: var(--color-white);
    font-weight: 600;
    font-size: 100px;
    text-align: right;
}

#hp-header-tagline {
    font-weight: 400;
    font-size: 23.5px;
    font-family: var(--font-poppins);
}

#homepage-header {
    background: url('../images/homepage/img-hp-dsk-header.png') no-repeat center;
    height: 675px;
    background-size: cover;
    margin-bottom: 45px;
}

.header-text {
    width: fit-content;
}

.div-header .container-fluid {
    padding: 0;
}

#hp-header-cta {
    width: fit-content;
}

.line {
    margin-top: 23px;
    margin-bottom: 45px;
    border-bottom: 1px solid var(--color-white);
    width: 370px;
}

.header-content {
    width: fit-content;
    margin-top: 45%;
}
/* header */

/* registration prompt */
#registration-prompt {
    width: 380px;
    height: 145px;
    background-color: var(--color-black);
    color: var(--color-white);
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    box-shadow: var(--box-shadow);
    z-index: 999;
}

#close-prompt {
    width: fit-content;
    display: block;
    margin-left: auto;
    padding: 3px 10px 0;
    position: relative;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

#prompt-content {
    width: 285px;
    position: relative;
    left: 35px;
    bottom: 13px;
}

#prompt-content p {
    font-family: var(--font-poppins);
    margin-bottom: 25px;
}

#prompt-content .cta {
    border-color: var(--color-white);
}
/* registration prompt */

/* homepage section 1 */
.div-section {
    margin-bottom: 5rem;
}

.div-product-card, .div-category-card {
    height: 300px;
    width: 250px;
    border: var(--border-black);
    margin: auto;
}

.div-product-card-img {
    height: 130px;
    width: 130px;
    margin: 10px auto;
}

.div-category-card-img {
    height: fit-content;
    width: 165px;
    margin: 20px auto 0 auto;
}

.div-product-card-img img, .div-category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card-brand-price, .product-card-title {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    /* cut long product names followed by three dots */
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    height: 18px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}
/* homepage section1 */

/* homepage section2, section3 */
.div-section-text-left p, .div-section-text-right p {
    line-height: 170%;
}

.hp-section-2, .about-section-2 {
    height: 395px;
    background: url('../images/img-background-1.png') no-repeat center;
    background-size: cover;
}

.hp-section-3 {
    background: url('../images/homepage/img-hp-sec3.png') no-repeat center;
    background-size: cover;
    margin: 12.3rem 0 8rem 0;
}

.hp-section-4 {
    min-height: 500px;
    background: url('../images/img-background-2.png') no-repeat center;
    background-size: cover;
    margin-bottom: 150px;
}

.hp-section-5 {
    height: 395px;
    background-color: var(--color-gray-light);
    margin-bottom: 9rem;
}

.div-section-text-left {
    float: right;
    margin-top: 50px;
}

.div-section-text-right {
    margin-left: 11%;
}

.column-background {
    background-color: var(--color-gray-light);
}

.section-title, .section-p, .section-cta {
    margin: 50px 0;
}

.div-section-img-right img {
    margin-top: 10%;
    margin-left: 13.1%;
}

.div-container-box {
    max-width: 1440px;
    margin: auto;
    overflow-x: hidden;
}

.container-fluid-box {
    overflow-y: visible;
    padding-left: 0;
    padding-right: 0;
}

.hp-section-4-heading {
    margin-bottom: 35px;
}

.category-card-row {
    margin: 55px 0;
}

.div-category-card-cta {
    margin-top: 30px;
}

.hp-section-4-cta {
    margin: 5px auto;
}
/* homepage section2, section3 */
/* homepage */

/* footer */
footer {
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 165px;
    font-family: var(--font-poppins);
}

.footer-link {
    text-transform: uppercase;
    display: block;
    color: var(--color-white);
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--color-white);
}

.footer-link-brand {
    text-transform: none;
}

footer p {
    margin-bottom: 0;
}

.footer-row {
    padding-top: 35px;
    margin: 0;
}

.footer-line {
    padding-top: 5px;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.div-footer-some {
    width: 27px;
    display: inline-block;
    padding-bottom: 1px;
}

.div-footer-some:hover {
    border-bottom: 1px solid var(--color-white);
}
/* footer */

/* about page */
#about-header, #loyalty-programme-header, #blog-header, .blog-post-header {
    height: 485px;
}

#about-header {
    background: url('../images/about/img-about-dsk-header.png') no-repeat center;
}

.paragraph-margin {
    padding: 10px 0;
}

.about-section-1-usp {
    max-width: 850px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
}

.div-usp-card {
    width: 142px;
}

.div-usp {
    width: 96px;
    height: 96px;
    border: var(--border-black);
    display: flex;
    justify-content: center;
    margin: auto;
}

.usp-text {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    display: block;
    margin: 20px auto;
}

.about-section-3 {
    background: url('../images/about/img-about-sec3.png') no-repeat center;
    background-size: cover;
    margin: 12.3rem 0 5rem 0;
}

.about-last-img {
    display: flex;
    justify-content: center;
}

.about-last-img img {
    width: 100%;
}
/* about page */

/* blog page */
#blog-header {
    background: url('../images/blog/img-blog-dsk-header.png') no-repeat center;
}

.blog-post-header {
    overflow: hidden;
}

.blog-post-header img {
    width: 100%;
    object-fit: cover;
}

.blog-post-publishing-details {
    font-size: 12px;
    font-style: italic;
}

.blogs-row {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.div-blog-card {
    width: 250px;
    height: 525px;
    margin: auto;
}

.blog-card-img {
    width: 100%;
}

.blog-card-img > a > img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
}

.blog-card-title {
    font-size: 18px;
    text-align: center;
    padding: 0 5px;
    margin: 20px 0;
    line-height: 30px;
}

.title-link {
    text-decoration: none;
    color: var(--color-black);
}

.title-link:hover {
    color: var(--color-green);
}

.blog-post-superuser-options {
    display: flex;
}

.blog-superuser-options {
    display: flex;
    position: absolute;
    top: 2px;
    margin-left: 2px;
}

.blog-superuser-options .div-product-card-edit, .blog-superuser-options .div-product-card-edit:hover,
.blog-superuser-options .div-product-card-delete, .blog-superuser-options .div-product-card-delete:hover {
    background-color: var(--color-white);
}
/* blog page */

/* loyalty programme page */
#loyalty-programme-header {
    background: url('../images/loyalty-programme/img-loyalty-dsk-header.png') no-repeat center;
}

.div-section-lp {
    margin-bottom: 3rem;
}
.loyalty-programme-section-1-explanation img {
    width: 100%;
    margin: 35px auto;
}

.div-benefit-card {
    width: 148px;
    height: 178px;
    border: var(--border-black);
}

.div-benefit-card img {
    display: block;
    margin: 40px auto 20px auto;
}

.div-benefit-card p {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.2rem;
}

.div-benefit-card span {
    font-size: 10px;
}

.benefits-row {
    margin: 35px auto;
}

.div-benefit-text ul {
    margin-top: 45px;
}

ul p {
    margin-bottom: 0;
    position: relative;
    right: 19px;
}
/* loyalty programme page */

/* shop and product pages */
.product-page-link {
    color: var(--color-black);
    text-decoration: none;
}

.product-page-link:hover {
    color: var(--color-black);
}

.div-product-card-shop {
    margin-bottom: 65px;
    z-index: 9;
}

.product-card-category-name {
    position: relative;
    top: 20px;
    text-align: right;
    text-transform: uppercase;
    font-size: 10px;
    color: var(--color-gray);
    display: flex;
    justify-content: flex-end;
    /* to show on top of product card, otherwise it's under images */
    z-index: 10;
}

.product-card-category-name > p {
    width: fit-content;
    padding: 5px 5px 5px 8px;
    margin: 0;
    border: 1px solid var(--color-gray);
    border-right-color: transparent;
}

.product-card-content {
    position: relative;
    bottom: 20px;
}

.correct-header {
    height: 100px;
}

.allauth-header {
    height: 150px;
}

.shop-top-row {
    height: 125px;
}

/* .container-shop, .container-cart {
    min-height: 71vh;
} */

.breadcrumbs {
    margin-top: 50px;
}

.breadcrumbs-text {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color-gray);
    margin-bottom: 0;
    width: fit-content;
    /* correct breadcrumbs margins  below to container content alignment */
    margin-left: -3px;
}

.breadcrumb-link, .breadcrumb-link:hover {
    color: var(--color-gray);
    margin: 3px;
}

.active-breadcrumb {
    color:  var(--color-black);
    margin: 3px;
}

.search-query-message, .empty-cart-message {
    margin: auto;
    padding: 30px;
    max-width: 600px;
    text-align: center;
    overflow-wrap: break-word;
}

.visual-filters, dsk-visual-filters {
    position: fixed;
}

.tag-meaning {
    text-transform: uppercase;
    font-size: 9px;
    color: var(--color-black);
    margin-top: 10px;
}

.tag-filters {
    display: flex;
    justify-content: flex-start;
}

.icon-filter-link {
    margin-right: 25px;
}

.icon-filter-link:hover {
    color: var(--color-black);
}

.categories-ctas {
    height: 47px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.mob-categories-ctas > .cta {
    margin-right: 10px;
}

.dropdown-sort-products {
    margin-top: 37px;
    display: flex;
    justify-content: flex-end;
}

#sort-selector {
    height: 45px;
    width: 250px;
    min-width: 140px;
    border: var(--border-black);
    color: var(--color-black);
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 5%;
    outline: transparent;
    /* remove firefox arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/icons/icon-dropdown-arrow.svg) no-repeat right;
    background-position-x: 95%;
}

.product-page-card {
    max-width: 450px;
    height: 550px;
    border: var(--border-black);
    margin: 0 15px;
}

.product-page-img-div {
    overflow: hidden;
    margin: 20px auto 0 auto;
    width: 70%;
    height: 65%;
}

.product-page-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto 30px auto;
}

.product-page-card-brand-price, .product-page-card-title {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.product-details {
    padding-left: 45px;
    display: grid;
}

.div-top-details {
    display: grid;
}

.div-bottom-details {
    margin: auto 0;
}

.product-details-brand {
    font-family: var(--font-poppins);
    font-size: 20px;
    text-transform: uppercase;
}

.product-details-description {
    margin: 25px 0 30px 0;
}

.product-details-tags-div {
    display: flex;
}

.product-tag-div {
    margin-right: 25px;
}

.tag-meaning {
    width: fit-content;
}

.product-details-price {
    font-size: 20px;
}

.input-group-prepend button, .input-group-append button {
    background-color: var(--color-black);
    width: 40px;
}

.input-group-prepend button:hover, .input-group-append button:hover {
    background-color: var(--color-green);
}

.input-group-prepend button:focus, .input-group-append button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-prepend btn.disabled, .input-group-prepend .btn:disabled,
.input-group-append btn.disabled, .input-group-append .btn:disabled {
     opacity: 1;
     background-color: var(--color-gray);
}

.input-group-product-quantity {
    border: var(--border-black);
    width: 120px;
}

/* remove input number arrows, credits: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-product-quantity {
    padding: 0;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 12px;
    /* fix jumping input background bug */
    background-color: transparent!important;
}

.loyalty-programme-product-info {
    color: var(--color-black);
    font-size: 12px;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    margin: 0;
}

.product-page-cta {
    float: left;
}

#accordion {
    margin: 35px auto 50px auto;
}

.card {
    border: none;
}

.card-header {
    padding-left: 0;
    background-color: var(--color-white);
    border-bottom: var(--border-black);
    cursor: pointer;
}

.card-header:hover {
    color: var(--color-green);
}

.product-details-additional {
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 18px;
    width: fit-content;
    display: block;
    float: left;
}

.accordion-icon {
    display: block;
    margin-left: auto;
    padding-top: 25px;
}

.accordion-card-paragraph {
    font-size: 14px;
    line-height: 170%;
}

.card-body {
    padding-left: 0;
}

.recommendation-title {
    margin: 40px 0;
}

.recommendation-cta {
    margin-bottom: 40px;
}

.product-recommendations-row {
    display: block;
    margin: 0;
}

.gallery {
    display:flex;
    justify-content: space-between;
}

.product-recommendations-div {
    width: fit-content;
}

#add-product-form label,
#add-blog-form label {
    text-transform: lowercase;
}

#filename {
    color: var(--color-green);
    font-size: 12px;
}

.custom-checkbox .custom-control-label::before,
.form-check .form-check-input::before {
    border-radius: 0;
    border-color: var(--color-green);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: var(--color-green);
    border-color: var(--color-green);
    border-radius: 0;
}

.product-card-superuser-options {
    display: flex;
    position: absolute;
    top: 2px;
    margin-left: 2px;
}

.product-card-superuser-options button, .product-card-superuser-options a {
    z-index: 20;
}

.product-page-superuser-options {
    display: flex;
    position: absolute;
    top: 10px;
}

.product-page-superuser-options button, .product-page-superuser-options a {
    z-index: 20;
}

.div-product-card-edit {
    background:  url('../images/icons/icon-edit-black.svg') no-repeat center;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    border: 1px solid var(--color-gray);
}

.div-product-card-edit:hover {
    background:  url('../images/icons/icon-edit-green.svg') no-repeat center;
    border: 1px solid var(--color-green);
}

.div-product-card-delete {
    background:  url('../images/icons/icon-delete-black.svg') no-repeat center;
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-gray);
}

.div-product-card-delete:hover {
    background:  url('../images/icons/icon-delete-green.svg') no-repeat center;
    border: 1px solid var(--color-green);
}

.scroll-to-top {
    position: fixed;
    z-index: 1000;
    bottom: 2.5%;
    right: 5%;
    width: 48px;
    height: 48px;
    box-shadow: var(--box-shadow);
    background-color: rgba(255, 255, 255, 0.9);
}

.scroll-to-top img {
    width: 30%;
    display: block;
    margin: 17px auto;
}
/* shop and product pages */

/* cart */
.cart {
    display: inline-block;
    margin-left: 35px;
}

.div-cart-img {
    width: 30px;
}

.cart-img {
    width: 100%;
}

.cart-product-count {
    position: absolute;
    bottom: 16px;
    right: 24.5px;
    font-size: 10px;
    text-align: center;
    color: var(--color-white);
}

.cart-link-mob {
    position: absolute;
    bottom: 16px;
    right: 0px;
}

.div-line-item {
    margin: 0 auto 50px auto;
    max-width: 645px;
    border: var(--border-black);
    display: flex;
}

.div-line-item-img {
    width: 25%;
    border-right: var(--border-black);
}

.div-image {
    width: 120px;
    height: 180px;
    margin: auto;
    padding: 25px 0 35px 0;
}

.div-line-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-line-item-summary {
    padding: 20px 15px;
    width: 75%;
}

.cart-product-title, .cart-product-title:hover {
    font-size: 18px;
    text-transform: uppercase;
    max-width: 280px;
    color: var(--color-black);
}

.cart-product-title-link:hover {
    color: var(--color-black);
}

.cart-product-brand-price {
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--font-poppins);
    margin-bottom: 10px;
}

.cart-product-sku {
    font-size: 12px;
    color: var(--color-gray);
}

.div-form-product-quantity {
    width: fit-content;
    display: inline-block;
    padding-top: 20px;
}

.text-link-input {
    font-size: 14px;
    border: none;
    background: none;
    outline: transparent;
    width: fit-content;
    position: relative;
    top: 13px;
}

.div-delete-img {
    background:  url('../images/icons/icon-delete-black.svg') no-repeat center;
    width: 10px;
    height: 13.5px;
    float: right;
}

.div-delete-img:hover {
    background:  url('../images/icons/icon-delete-green.svg') no-repeat center;
    cursor: pointer;
}

.div-info-summary {
    float: left;
}

.div-cost-summary {
    float: right;
    width: fit-content;
}

.div-quantity-subtotal {
    float: right;
    margin-top: 100px;
}

.div-quantity-subtotal p {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.div-cart-costs-summary {
    max-width: 645px;
    margin: 25px auto;
}

.div-shipping-costs, .div-total-costs, .div-order-total-costs {
    width: 100%;
    border-bottom: 1px solid var(--color-gray);
    min-height: 30px;
    margin-top: 25px;
}

.div-cart-costs-summary p, .div-order-costs-summary p {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 0;
}

#shipping-costs-message, #discount-costs-message,
.div-shipping-costs > .shipping-costs-message {
    font-size: 10px;
}

.div-checkout-cta {
    margin: 25px 0;
    height: 75px;
}

.cta-full-cart {
    width: fit-content;
}
/* cart */

/* checkout */
.div-hr {
    width: 40%;
    min-width: 260px;
    border-bottom: 1px solid var(--color-gray);
    margin: 25px auto 35px auto;
}

.stripe-style-input, #card-element, input[type="email"],
.profile-form-input, .div-signup-form input,
.add-product-form-field, .div-login-form input,
.div-password-reset-form input, .add-blog-form-field {
    border: var(--border-black);
    border-radius: 0;
}

.stripe-style-input:active, .stripe-style-input:focus,
.profile-form-input:active, .profile-form-input:focus,
.div-signup-form input:active, .div-signup-form input:focus,
.add-product-form-field:active, .add-product-form-field:focus,
.div-login-form input:active, .div-login-form input:focus,
.div-password-reset-form input:active, .div-password-reset-form input:focus,
.add-blog-form-field:active, .add-blog-form-field:focus {
    border-color: var(--color-green);
}

#card-element {
    padding: .375rem .75rem;
    height: 30px;
}

#card-element:active, #card-element:focus {
    border-color: var(--color-green);
}

#card-errors {
    font-size: 12px;
    padding-top: 8px;
    color: var(--color-error);
}

label {
    font-family: var(--font-poppins);
    font-size: 14px;
    margin-bottom: 5px;
}

#payment-form .form-group {
    margin-bottom: 3px;
}

.form-check {
    padding: 12px 0;
}

.form-check label, .form-check-p,
.login-p, .signup-p {
    font-size: 12px;
    font-family: var(--font-poppins);
}

.submit-button .cta-black {
    margin-left: 5%;
    width: 50%;
}

.submit-button .cta-black:hover {
    color: var(--color-white);
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.submit-button .cta-white {
    width: 35%;
}

fieldset .form-control, #card-element {
    width: 91%;
}

.order-summary-row {
    overflow-x: auto;
}

.order-summary-cards {
    padding-top: 27px;
    display: flex;
    overflow-x: visible;
    height: 200px;
}

.order-summary-card {
    width: 120px;
    height: 145px;
    border: var(--border-black);
    margin-right: 20px;
}

.div-order-summary-product {
    position: relative;
    bottom: 15px;
}

.div-order-summary-card img {
    display: block;
    margin: 0 auto 5px auto;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.order-summary-card-quantity p {
    width: fit-content;
    display: block;
    margin: 20% auto 0 auto;
    font-size: 10px;
}

.order-summary-card-quantity {
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-gray);
    position: relative;
    bottom: 15px;
    left: 105px;
    background-color: var(--color-white);
}

.order-summary-card-brand-price, .order-summary-card-title {
    font-size: 10px;
    text-transform: uppercase;
    margin: auto;
    width: fit-content;
    max-width: 100px;
}

.order-summary-card-brand-price {
    text-align: center;
}

.order-summary-card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.div-order-costs-summary {
    width: 100%;
    margin: 25px auto;
}
/* checkout */

/* order confirmation */
.h2-order-confirmation {
    font-size: 16px;
}

.div-order-details {
    font-size: 14px;
}

.pl-57 {
    padding-left: 57px;
}

.paid-order-details {
    width: 80%;
    margin: auto;
}
/* order confirmation */

/* profile */
.profile-container, .general-container {
    max-width: 650px;
    margin-bottom: 65px;
}

.loyalty-status-img {
    width: 15px;
}

.div-benefit-text > .profile-benefits-ul {
    list-style-image: url('../images/icons/icon-checkmark.svg');
    margin: 0;
}

.div-profile-benefits-cta {
    padding: 40px 0 0 40px;
}

.div-sneak-peek {
    opacity: 0.5;
}

.cta-disabled {
    width: fit-content;
}

.div-donations {
    padding-left: 40px;
    margin-top: 25px;
    display: flex;
}

.donation-button, .donation-button-disabled {
    color: var(--color-black);
}

.donation-button:hover {
    color: var(--color-green);
}

.div-donation-button {
    margin-right: 20px;
}

.div-donation-frame {
    width: 80px;
    height: 90px;
    border: var(--border-black);
}

.donation-button-img {
    height: 30px;
    display: block;
    margin: 10px auto 0 auto;
}

.donation-points-value {
    font-size: 7.5px;
}

.donation-description {
    font-size: 8.5px;
}

.donation-points-value, .donation-description {
    margin-top: 7px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

.event-attendance-info {
    font-size: 14px;
}

.div-profile-action-ctas {
    display: flex;
    justify-content: space-between;
}

.div-profile-action-ctas .cta {
    display: inline-block;
}

.div-profile-form, .div-signup-form,
#add-product-form, .div-login-form, .div-logout-form,
.div-password-reset-form, #add-blog-form {
    max-width: 460px;
    margin: auto;
}

.div-password-reset-form {
    margin: unset;
}

.div-profile-order {
    border: var(--border-black);
    padding: 30px 20px;
}

.div-profile-order p, .div-profile-order li {
    font-size: 14px;
}

.div-logout-form p, .div-logout-form form {
    width: fit-content;
    margin: auto;
}
/* profile */

/* toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
    width: 300px;
}

.custom-toast {
    overflow: visible;
}

.toast-header {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-poppins);
}

.toast {
    border: none;
    box-shadow: var(--box-shadow);
}

.toast-cta-text {
    font-size: 14px;
}

.toast-title {
    font-family: var(--font-poppins);
}

.cart-notification-wrapper {
    max-height: 165px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.toast-product-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 180px;
    white-space: nowrap;
}

.toast-product-img {
    width: 46px;
    height: 46px;
    object-fit: cover;
}
/* toasts */

/* loading overlay */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
/* loading overlay */

/* responsiveness */
@media (max-width: 1199px) {
    .div-section-text-right {
        background-color: rgba(245, 245, 245, 0.75);
        padding: 2rem;
        width: 80%;
        margin: auto;
    }
    .column-background {
        background-color: transparent;
    }
    .product-page-card {
        max-height: 500px;
    }
    .product-tag-div {
        margin-right: 20px;
    }
}

@media (min-width: 992px) {
    .search-box-mob {
        display: none;
    }
}

@media (max-width: 991px) {
    .mb-7-mob {
        margin-bottom: 7px;
    }
    #div-nav {
        height: 80px;
    }
    #main-nav {
        top: 0;
    }
    .navbar-toggler {
        margin-top: 5px;
    }
    .navbar {
        justify-content: flex-start;
    }
    .navbar-nav {
        background-color: var(--color-white);
        padding-left: 13px;
        padding-right: 10px;
        width: max-content;
    }
    .navbar-nav .line {
        border-color: var(--color-black);
        margin: 10px 0;
    }
    .search-input-mob {
        margin: 15px 0;
    }
    .logo {
        padding-top: 3px;
        padding-left: 20px;
        padding-bottom: 0;
        width: calc(100% - 131px);
    }
    #homepage-header {
        background: url('../images/homepage/img-hp-tab-header.png') no-repeat center;
    }
    .header-content {
        margin-top: 35%;
    }
    .header-text {
        margin-left: auto;
    }
    #hp-header-h1 {
        font-size: 5rem;
    }
    #hp-header-tagline {
        font-size: 1.188rem;
    }
    .hp-section-3, .about-section-3 {
        margin: 10.3rem 0 6rem 0;
    }
    .line {
        width: 100%;
    }
    .div-category-card {
        margin: 0 auto 3rem auto;
    }
    .hp-section-cta-row {
        height: 3.75rem;
    }
    .hp-section-4 {
        margin-bottom: 130px;
    }
    .hp-section-4-cta {
        margin: -30px auto
    }
    #about-header {
        background: url('../images/about/img-about-tab-header.png') no-repeat center;
    }
    #loyalty-programme-header {
        background: url('../images/loyalty-programme/img-loyalty-tab-header.png') no-repeat center;
    }
    #blog-header {
        background: url('../images/blog/img-blog-tab-header.png') no-repeat center;
    }
    .footer-row {
        padding-top: 3%;
    }
    .div-section-text-left {
        margin-top: 0;
    }
    .about-section-1-usp {
        justify-content: center;
    }
    .mob-visual-filters-row {
        height: 100px;
        max-width: 100%;
        padding: 0 15px;
        margin: auto;
    }
    .visual-filters, .dsk-visual-filters {
        position: initial;
        overflow-x: auto;
        white-space: nowrap;
        height: 60px;
        display: flex;
    }
    .mob-tag-filter {
        padding: 10px;
        font-size: 9px;
        color: var(--color-black);
    }
    .mob-tag-filter:hover {
        color: var(--color-black);
        text-decoration: none;
    }
    .mob-categories-ctas {
        margin-bottom: 0;
    }
    .shop-top-row {
        height: 100px;
        margin-bottom: 20px;
    }
    .breadcrumbs {
        margin-top: 30px;
    }
    .dropdown-sort-products {
        margin-top: 17px;
    }
    .gallery {
        overflow-x: auto;
        padding-bottom: 20px;
    }
    .product-recommendations-div {
        padding-right: 40px;
    }
    .product-page-card {
        margin: 0 auto 40px auto;
        max-width: calc(100% - 30px);
        max-height: none;
        padding-bottom: 20px;
    }
    .product-page-img-div {
        height: 80%;
    }
    .product-details {
        padding-left: 15px;
    }
    .product-details-tags-div {
        margin-bottom: 25px;
    }
    .cart-product-count {
        position: static;
    }
    .div-cart-img {
        margin-bottom: -26px;
    }
    .cart {
        margin-top: 10px;
    }
    .cart-link-mob {
        position: static;
    }
    .submit-button {
        display: flex;
        justify-content: space-between;
    }
    .submit-button .cta {
        margin: 0;
        width: unset;
        padding: 12px 25px;
    }
    fieldset .form-control, #card-element {
        width: 100%;
    }
    .paid-order-details {
        width: 100%;
    }
    .blog-post-header {
        display: flex;
        justify-content: center;
    }
    .blog-post-header img {
        width: unset;
    }
}

@media (max-width: 767px) {
    .mb-15-mob {
        margin-bottom: 15px;
    }
    .social-media {
        margin: 30px 0;
    }
    .div-product-card {
        margin-bottom: 3%;
    }
    .div-category-card {
        margin-bottom: 5%;
    }
    .category-card-row {
        margin: 55px 0;
    }
    .hp-section-2, .hp-section-5, .about-section-2 {
        height: 420px;
    }
    .div-benefit-card {
        margin: auto;
    }
    .recommendation-cta {
        margin-top: 40px;
    }
    .recommendation-title {
        margin: 20px 0 40px 0;
    }
    .div-line-item {
        display: block;
        height: fit-content;
    }
    .div-line-item-img {
        border: none;
        width: 100%;
        border-bottom: var(--border-black);
    }
    .div-image {
        width: 300px;
        height: 360px;
    }
    .div-line-item-summary {
        width: 100%;
        height: 210px;
    }
    .submit-button {
        display: flex;
        justify-content: unset;
    }
    .submit-button .cta-black {
        margin-left: 5%;
    }
    .div-cart-costs-summary p, .div-order-costs-summary p {
        text-align: left;
    }
    .profile-container, .general-container {
        max-width: 540px;
    }
    .div-profile-action-ctas {
        display: grid;
    }
    .div-profile-action-ctas .cta {
        display: block;
        width: fit-content;
        margin: 10px 0;
    }
    .profile-line-item-details {
        margin-top: 20px;
    }
    .product-page-img-div {
        height: 70%;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
    .navbar-toggler {
        padding-left: 0;
    }
    .navbar-toggler img {
        width: 30px;
    }
    .logo {
        font-size: 20px;
        padding-top: 14px;
        padding-left: 8px;
        padding-bottom: inherit;
    }
    #homepage-header {
        background: url(../images/homepage/img-hp-mob-header.png) no-repeat center;
        height: 550px;
    }
    .hp-section-2, .hp-section-5, .about-section-2 {
        height: 100%;
    }
    .div-section-img-right img {
        margin: 0;
    }
    .hp-section-5 {
        margin-bottom: 5rem;
    }
    .hp-section-3, .about-section-3 {
        margin: 6rem 0 6rem 0;
    }
    .hp-section-4 {
        margin-bottom: 100px;
    }
    .div-section-1 {
        margin-bottom: 3rem;
    }
    .header-content {
        margin-top: 45%;
        margin-right: 3%;
    }
    #hp-header-h1 {
        font-size: 4rem;
    }
    #hp-header-tagline {
        font-size: 0.95rem;
    }
    #about-header, #loyalty-programme-header, #blog-header {
        height: 360px;
    }
    #about-header {
        background: url('../images/about/img-about-mob-header.png') no-repeat center;
    }
    #loyalty-programme-header {
        background: url('../images/loyalty-programme/img-loyalty-mob-header.png') no-repeat center;
    }
    #blog-header {
        background: url('../images/blog/img-blog-mob-header.png') no-repeat center;
    }
    .s-d-none {
        display: none;
    }
    .s-d-block {
        display: block;
    }
    .footer-row {
        padding-top: 5%;
    }
    .div-shop, .div-empty-cart {
        margin-top: 50px;
    }
    .shop-top-row > .col-12 {
        padding: 0;
    }
    .breadcrumbs, .dropdown-sort-products {
        margin-top: 10px;
    }
    .dropdown-sort-products {
        display: block;
    }
    .product-details-tags-div {
        display: block;
    }
    .product-tag-div {
        display: inline-block;
    }
    .product-page-card {
        margin-left: 15px;
        margin-right: 15px;
        max-height: 500px;
    }
    .product-page-img-div {
        height: 65%;
    }
    .shop-top-row {
        height: 50px;
    }
    .container-shop, .container-cart {
        min-height: 50vh;
    }
    .div-line-item-summary {
        height: unset;
    }
    .div-info-summary, .div-cost-summary, .div-quantity-subtotal {
        float: none;
    }
    .div-cost-summary {
        width: unset;
    }
    .div-quantity-subtotal {
        margin-top: 0;
    }
    .div-delete-img {
        position: relative;
        right: 20px;
        top: 20px;
    }
    .cart-product-title {
        max-width: unset;
    }
    .div-benefit-card-profile {
        margin: 25px auto;
    }
    .profile-container, .general-container {
        margin-bottom: 40px;
    }
    .div-benefit-text, .profile-intro-p {
        max-width: 320px;
        margin: auto;
    }
    .div-donations {
        padding-left: 0;
        justify-content: center;
    }
    .div-profile-order-history-ctas {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    #registration-prompt {
        width: 300px;
    }
    #prompt-content {
        width: 220px;
        bottom: 8px;
    }
    #prompt-content p {
        font-size: 0.8rem;
    }
    .product-page-card {
        height: 400px;
    }
    .product-page-img-div {
        height: 65%;
    }
    .div-image {
        width: 200px;
        height: 260px;
    }
}

@media (max-width: 375px) {
    .submit-button {
        display: grid;
        justify-content: initial;
    }
    .submit-button .cta-black {
        margin-left: 0;
        margin-top: 15px;
    }
    .div-profile-order-history-ctas {
        display: grid;
        justify-content: unset;
    }
    .div-profile-order-history-ctas .cta {
        width: fit-content;
        margin-bottom: 15px;
    }
}

@media (max-width: 345px) {
    .xs-d-none {
        display: none;
    }
    .message-container {
        right: 5px;
    }
    .div-donation-button {
        margin-right: 5px;
    }
}

@media (max-width: 280px) {
    .message-container {
        width: 260px;
    }
}
/* responsiveness */