@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --color-black: #333333;
    --color-green: #45AD9A;
    --color-gray: #C4C4C4;
    --color-white: #FFFFFF;
    --border-black: 1px solid var(--color-black);
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-roboto);
    color: var(--color-black);
}

h1, h2 {
    font-family: var(--font-poppins);
}

.nav-link {
    color: var(--color-black);
    font-family: var(--font-poppins);
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
}

.navbar, .navbar-expand-lg .navbar-nav .nav-link {
    padding: 9px 0;
}

.nav-link .span-green {
    color: var(--color-green);
    text-transform: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--color-black);
}

#logo {
    font-size: 25px;
}

#logo:hover {
    text-decoration: none;
}

#div-nav {
    box-shadow: var(--box-shadow);
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: var(--color-white);
}

.form-control {
    height: 30px;
    border: none;
}

.input-group-button .form-control {
    padding-top: 2px;
}

input[type="text"] {
    font-family: var(--font-poppins);
    color: var(--color-black);
}

::placeholder {
    font-family: var(--font-poppins);
    color: var(--color-gray)!important;
}

#main-nav {
    top: 50px;
}

#main-nav .nav-link {
    padding-right: 55px;
}

#user-options {
    padding-left: 55px;
}

.container {
    width: 1200px;
}

.cta {
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 30px;
    border: var(--border-black);
}

.cta-white, .cta-black:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    text-decoration: none;
}

.cta-black, .cta-white:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    text-decoration: none;
}

.border-black {
    border: var(--border-black);
}

/* homepage */
/* header */
#hp-header-h1, #hp-header-tagline {
    color: var(--color-white);
    font-weight: 600;
    font-size: 100px;
    text-align: right;
}

#hp-header-tagline {
    font-weight: 400;
    font-size: 23.5px;
    font-family: var(--font-poppins);
}

#homepage-header {
    background: url('../images/homepage/img-hp-header.png') no-repeat center;
    height: 675px;
    background-size: cover;
    margin-bottom: 45px;
}

.header-text {
    width: fit-content;
    /* margin-bottom: 30px;
    border-bottom: 1px solid var(--color-white); */
}

.div-header .container-fluid {
    padding: 0;
}

#hp-header-cta {
    width: fit-content;
}

.line {
    margin-top: 23px;
    margin-bottom: 45px;
    border-bottom: 1px solid var(--color-white);
    width: 370px;
}

.header-content {
    width: fit-content;
    margin-top: 45%;
}
/* header */

/* registration prompt */
#registration-prompt {
    width: 380px;
    height: 145px;
    background-color: var(--color-black);
    color: var(--color-white);
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    box-shadow: var(--box-shadow);
}

.close-prompt {
    width: fit-content;
    display: block;
    margin-left: auto;
    padding: 3px 10px 0;
    position: relative;
    top: 10px;
    right: 5px;
}

#prompt-content {
    width: 285px;
    position: relative;
    left: 35px;
    bottom: 13px;
}

#prompt-content p {
    font-family: var(--font-poppins);
    margin-bottom: 25px;
}

#prompt-content .cta {
    border-color: var(--color-white);
}
/* registration prompt */

/* homepage section 1 */
.div-section {
    margin-bottom: 45px;
}

.hp-section-2 {
    background: url('../images/img-background-1.png') no-repeat center;
    height: 395px;
    background-size: cover;
}

.div-product-card {
    height: 300px;
    width: 250px;
    border: var(--border-black);
}

.div-product-card-img {
    height: 130px;
    width: 130px;
    margin: 10px auto;
}

.div-product-card-img img {
    width: 100%;
}
.product-card-brand-price, .product-card-title {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}