@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --color-black: #333333;
    --color-green: #45AD9A;
    --color-gray: #C4C4C4;
    --color-gray-light: #F5F5F5;
    --color-white: #FFFFFF;
    --border-black: 1px solid var(--color-black);
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-roboto);
    color: var(--color-black);
}

h1, h2 {
    font-family: var(--font-poppins);
}

h2, .h2-style {
    text-transform: uppercase;
    font-size: 25px;
}

.h1-style {
    text-transform: uppercase;
    font-size: 40px;
    margin: 65px auto 20px auto;
}

.nav-link {
    color: var(--color-black);
    font-family: var(--font-poppins);
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
}

.navbar, .navbar-expand-lg .navbar-nav .nav-link {
    padding: 9px 0;
}

.nav-link .span-green {
    color: var(--color-green);
    text-transform: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--color-black);
}

.navbar-toggler img {
    width: 40px;
}

.navbar-toggler:focus, .navbar-toggler:active:focus {
    outline: none;
}

#logo, .logo {
    font-size: 25px;
}

#logo:hover {
    text-decoration: none;
}

#div-nav {
    box-shadow: var(--box-shadow);
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: var(--color-white);
    z-index: 999;
}

.form-control {
    height: 30px;
    border: none;
}

.input-group-button .form-control {
    padding-top: 2px;
}

input[type="text"] {
    font-family: var(--font-poppins);
    color: var(--color-black);
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

::placeholder {
    font-family: var(--font-poppins);
    color: var(--color-gray)!important;
}

#main-nav {
    top: 50px;
}

#main-nav .nav-link {
    padding-right: 55px;
}

#top-nav {
    z-index: 1050;
}

.dropdown-menu {
    border-radius: revert;
    text-align: right;
    width: max-content;
}

.dropdown-item {
    padding: 9px;
    padding-left: 55px;
}

#user-options {
    padding-left: 55px;
}

.container {
    width: 1200px;
}

.cta {
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 30px;
    border: var(--border-black);
}

.cta-white, .cta-black:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    text-decoration: none;
}

.cta-black, .cta-white:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    text-decoration: none;
}

.border-black {
    border: var(--border-black);
}

.no-padding {
    padding: 0;
}

.mb-7 {
    margin-bottom: 7px;
}

/* homepage */
/* header */
#hp-header-h1, #hp-header-tagline {
    color: var(--color-white);
    font-weight: 600;
    font-size: 100px;
    text-align: right;
}

#hp-header-tagline {
    font-weight: 400;
    font-size: 23.5px;
    font-family: var(--font-poppins);
}

#homepage-header {
    background: url('../images/homepage/img-hp-dsk-header.png') no-repeat center;
    height: 675px;
    background-size: cover;
    margin-bottom: 45px;
}

.header-text {
    width: fit-content;
}

.div-header .container-fluid {
    padding: 0;
}

#hp-header-cta {
    width: fit-content;
}

.line {
    margin-top: 23px;
    margin-bottom: 45px;
    border-bottom: 1px solid var(--color-white);
    width: 370px;
}

.header-content {
    width: fit-content;
    margin-top: 45%;
}
/* header */

/* registration prompt */
#registration-prompt {
    width: 380px;
    height: 145px;
    background-color: var(--color-black);
    color: var(--color-white);
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    box-shadow: var(--box-shadow);
    z-index: 999;
}

#close-prompt {
    width: fit-content;
    display: block;
    margin-left: auto;
    padding: 3px 10px 0;
    position: relative;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

#prompt-content {
    width: 285px;
    position: relative;
    left: 35px;
    bottom: 13px;
}

#prompt-content p {
    font-family: var(--font-poppins);
    margin-bottom: 25px;
}

#prompt-content .cta {
    border-color: var(--color-white);
}
/* registration prompt */

/* homepage section 1 */
.div-section {
    margin-bottom: 5rem;
}

.div-product-card, .div-category-card {
    height: 300px;
    width: 250px;
    border: var(--border-black);
    margin: auto;
}

.div-product-card-img {
    height: 130px;
    width: 130px;
    margin: 10px auto;
}

.div-category-card-img {
    height: fit-content;
    width: 165px;
    margin: 20px auto 0 auto;
}

.div-product-card-img img, .div-category-card img {
    width: 100%;
}

.product-card-brand-price, .product-card-title {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
/* homepage section1 */

/* homepage section2, section3 */
.div-section-text-left p, .div-section-text-right p {
    line-height: 170%;
}

.hp-section-2, .about-section-2 {
    height: 395px;
    background: url('../images/img-background-1.png') no-repeat center;
    background-size: cover;
}

.hp-section-3 {
    background: url('../images/homepage/img-hp-sec3.png') no-repeat center;
    background-size: cover;
    margin: 12.3rem 0 8rem 0;
}

.hp-section-4 {
    min-height: 440px;
    background: url('../images/img-background-2.png') no-repeat center;
    background-size: cover;
}

.hp-section-5 {
    height: 395px;
    background-color: var(--color-gray-light);
    margin-bottom: 9rem;
}

.div-section-text-left {
    float: right;
    margin-top: 50px;
}

.div-section-text-right {
    margin-left: 11%;
}

.section-title, .section-p, .section-cta {
    margin: 50px 0;
}

.div-section-img-right img {
    margin-top: 10%;
    margin-left: 13.1%;
}

.div-container-box {
    max-width: 1440px;
    margin: auto;
    overflow-x: hidden;
}

.container-fluid-box {
    overflow-y: visible;
    padding-left: 0;
    padding-right: 0;
}

.hp-section-4-heading {
    margin-bottom: 35px;
}

.category-card-row {
    margin: 35px 0;
}

.div-category-card-cta {
    margin-top: 30px;
}

.hp-section-4-cta {
    margin: 5px auto;
}
/* homepage section2, section3 */
/* homepage */

/* footer */
footer {
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 150px;
    font-family: var(--font-poppins);
}

.footer-link {
    text-transform: uppercase;
    display: block;
    color: var(--color-white);
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--color-white);
}

.footer-link-brand {
    text-transform: none;
}

footer p {
    margin-bottom: 0;
}

.footer-row {
    padding-top: 35px;
    margin: 0;
}

.footer-line {
    padding-top: 5px;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.div-footer-some {
    width: 27px;
    display: inline-block;
    padding-bottom: 1px;
}

.div-footer-some:hover {
    border-bottom: 1px solid var(--color-white);
}
/* footer */

/* about page */
#about-header {
    background: url('../images/about/img-about-dsk-header.png') no-repeat center;
    height: 485px;
}

.paragraph-margin {
    padding: 10px 0;
}

.about-section-1-usp {
    max-width: 850px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
}

.div-usp-card {
    width: 142px;
}

.div-usp {
    width: 96px;
    height: 96px;
    border: var(--border-black);
    display: flex;
    justify-content: center;
    margin: auto;
}

.usp-text {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    display: block;
    margin: 20px auto;
}

/* about page */

/* responsiveness */
@media (max-width: 1199px) {
    .div-section-text-right {
        background-color: rgba(245, 245, 245, 0.75);
        padding: 2rem;
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .search-box-mob {
        display: none;
    }
}

@media (max-width: 991px) {
    .mb-7-mob {
        margin-bottom: 7px;
    }
    #div-nav {
        height: 80px;
    }
    #main-nav {
        top: 0;
    }
    .navbar-toggler {
        margin-top: 5px;
    }
    .navbar {
        justify-content: flex-start;
    }
    .navbar-nav {
        background-color: var(--color-white);
        padding-left: 13px;
        padding-right: 10px;
        width: max-content;
    }
    .navbar-nav .line {
        border-color: var(--color-black);
        margin: 10px 0;
    }
    .search-input-mob {
        margin: 15px 0;
    }
    .logo {
        padding-top: 3px;
        padding-left: 20px;
        padding-bottom: 0;
    }
    #homepage-header {
        background: url('../images/homepage/img-hp-tab-header.png') no-repeat center;
    }
    .header-content {
        margin-top: 35%;
    }
    .header-text {
        margin-left: auto;
    }
    #hp-header-h1 {
        font-size: 5rem;
    }
    #hp-header-tagline {
        font-size: 1.188rem;
    }
    .hp-section-3 {
        margin: 10.3rem 0 6rem 0;
    }
    .line {
        width: 100%;
    }
    .div-category-card {
        margin: 0 auto 3rem auto;
    }
    .hp-section-cta-row {
        height: 3.75rem;
    }
    .hp-section-4-cta {
        margin: -20px auto;
    }
    #about-header {
        background: url('../images/about/img-about-tab-header.png') no-repeat center;
    }
    .footer-row {
        padding-top: 3%;
    }
    .div-section-text-left {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .mb-15-mob {
        margin-bottom: 15px;
    }
    .social-media {
        margin: 30px 0;
    }
    .div-product-card {
        margin-bottom: 3%;
    }
    .div-category-card {
        margin-bottom: 5%;
    }
    .category-card-row {
        margin: 55px 0;
    }
    .hp-section-2, .hp-section-5, .about-section-2 {
        height: 420px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
    .navbar-toggler {
        padding-left: 0;
    }
    .navbar-toggler img {
        width: 30px;
    }
    .logo {
        font-size: 20px;
        padding-top: 14px;
        padding-left: 8px;
        padding-bottom: inherit;
    }
    #homepage-header {
        background: url(../images/homepage/img-hp-mob-header.png) no-repeat center;
        height: 550px;
    }
    .hp-section-2, .hp-section-5, .about-section-2 {
        height: 100%;
    }
    .div-section-img-right img {
        margin: 0;
    }
    .hp-section-5 {
        margin-bottom: 5rem;
    }
    .hp-section-3 {
        margin: 6rem 0 6rem 0;
    }
    .div-section-1 {
        margin-bottom: 3rem;
    }
    .header-content {
        margin-top: 45%;
        margin-right: 3%;
    }
    #hp-header-h1 {
        font-size: 4rem;
    }
    #hp-header-tagline {
        font-size: 0.95rem;
    }
    #about-header {
        background: url('../images/about/img-about-mob-header.png') no-repeat center;
        height: 360px;
    }
    .footer-row {
        padding-top: 5%;
    }
}

@media (max-width: 425px) {
    #registration-prompt {
        width: 300px;
    }
    #prompt-content {
        width: 220px;
        bottom: 8px;
    }
    #prompt-content p {
        font-size: 0.8rem;
    }
}
/* responsiveness */