    <div class="container profile-container">
        <div class="row benefits-row">
            <div class="col-12 col-sm-4 no-padding">
                <div class="div-benefit-card div-benefit-card-profile">
                    <div class="div-benefit">
                        <img src="{{ STATIC_URL }}images/loyalty-programme/benefits-illustrations/icon-benefits-level3.svg" alt="Eco-Expert">
                    </div>
                    <p><span>101+ points</span></p>
                    <p>eco-expert</p>
                </div>
            </div>
            <div class="col-12 col-sm-8">
                <div class="div-benefit-text">
                    <ul class="profile-benefits-ul">
                        <li class="profile-benefits-li">
                            <span class="text-uppercase">free</span> bi-yearly set of sample collection
                            <br>
                            (next shipping: 16th June 2021)
                        </li>
                        <li class="profile-benefits-li">
                            invitations to events
                            <br>
                            (next event: Beijing, 19th September 2021)
                        </li>
                    </ul>
                    <div class="div-profile-benefits-cta mb-3">
                        {% if profile.going_to_event %}
                            <p class="green-text event-attendance-info">
                                You have already registered as a guest at our next event!
                                We can't wait to meet you!
                            </p>
                        {% else %}
                            <a href="{% url 'register_for_event' %}" class="cta cta-white">Yes, I'm coming</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
