    <div class="container profile-container">
        <div class="row benefits-row">
            <div class="col-12 col-sm-4 no-padding">
                <div class="div-benefit-card div-benefit-card-profile">
                    <div class="div-benefit">
                        <img src="/static/images/loyalty-programme/benefits-illustrations/icon-benefits-level2.svg" alt="Eco-Fighter">
                    </div>
                    <p><span>61 - 100 points</span></p>
                    <p>eco-fighter</p>
                </div>
            </div>
            <div class="col-12 col-sm-8">
                <div class="div-benefit-text">
                    <ul class="profile-benefits-ul">
                        <li class="profile-benefits-li"><span class="text-uppercase">free</span> delivery</li>
                        <li class="profile-benefits-li">donate your points to a good cause</li>
                    </ul>
                </div>
                <div class="div-donations">
                    <div class="div-donation-button">
                        <a href="{% url 'donate_plant_tree' %}" class="donation-button">
                            <div class="div-donation-frame">
                                <img src="/static/images/about/usp-illustrations/icon-usp-tree.svg" class="donation-button-img" alt="Icon Tree">
                                <p class="donation-points-value text-uppercase">2 points</p>
                                <p class="donation-description text-uppercase">Plant a tree</p>
                            </div>
                        </a>
                    </div>
                    <div class="div-donation-button">
                        <a href="{% url 'donate_recycle_plastic' %}" class="donation-button">
                            <div class="div-donation-frame">
                                <img src="/static/images/about/usp-illustrations/icon-usp-research.svg" class="donation-button-img" alt="Icon Research">
                                <p class="donation-points-value text-uppercase">3 points</p>
                                <p class="donation-description text-uppercase">Recycle plastic</p>
                            </div>
                        </a>
                    </div>
                    <div class="div-donation-button">
                        <a href="{% url 'donate_clean_forest' %}" class="donation-button">
                            <div class="div-donation-frame">
                                <img src="/static/images/about/usp-illustrations/icon-usp-forest.svg" class="donation-button-img" alt="Icon Forest">
                                <p class="donation-points-value text-uppercase">5 points</p>
                                <p class="donation-description text-uppercase">Clean a forest</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if profile.total_loyalty_points < 101 %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center">
                        <img src="/static/images/icons/icon-lock.svg" alt="Unlock Icon">
                        unlock with <span class="green-text">{{ unlock_loyalty_level_3 }}</span> more points
                    </p>
                    <div class="div-profile-action-ctas d-flex mb-3 mt-4">
                        <a href="{% url 'products' %}" class="cta cta-black d-inline-block m-auto">Shop more</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- sneak peek -->
        <div class="div-sneak-peek">
            <!-- loyalty level 3 -->
            <div class="container profile-container">
                <div class="row benefits-row">
                    <div class="col-12 col-sm-4 no-padding">
                        <div class="div-benefit-card div-benefit-card-profile">
                            <div class="div-benefit">
                                <img src="/static/images/loyalty-programme/benefits-illustrations/icon-benefits-level3.svg" alt="Eco-Expert">
                            </div>
                            <p><span>101+ points</span></p>
                            <p>eco-expert</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="div-benefit-text">
                            <ul class="profile-benefits-ul">
                                <li class="profile-benefits-li">
                                    <span class="text-uppercase">free</span> bi-yearly set of sample collection
                                    <br>
                                    (next shipping: 16th January 2021)
                                </li>
                                <li class="profile-benefits-li">
                                    invitations to events
                                    <br>
                                    (next event: Beijing, 19th March 2021)
                                </li>
                            </ul>
                            <div class="div-profile-benefits-cta mb-3">
                                <div class="cta cta-disabled">Yes, I'm coming</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}