<!-- content section 5 -->
<section>
    <div class="container-fluid container-fluid-box div-section hp-section-5">
        <div class="div-container-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="div-section-text-left">
                            <h1 class="h2-style section-title">For you and for the environment</h1>
                            <p class="section-p">
                                Protect yourself and protect our ecosystem from harmful ingredients by 
                                choosing natural cosmetics, eco materials and long-lasting, reusable products.
                            </p>
                            <div class="section-cta">
                                <a href="{% url 'products' %}" class="cta cta-black">Start shopping</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 no-padding">
                        <div class="div-section-img-right">
                            <img src="{{ STATIC_URL }}images/homepage/img-hp-sec5.png" alt="Cleaning Razor Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>