<!-- content section 3 -->
<section>
    <div class="container-fluid container-fluid-box div-section hp-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12 no-padding">
                </div>
                <div class="col-xl-6 col-12 column-background">
                    <div class="div-section-text-right">
                        <h1 class="h2-style section-title">Sustainability is a choice</h1>
                        <p class="section-p">
                            And we would love to help you with that! We have prepared an 
                            enticing loyalty programme with amazing rewards to help you stay 
                            on track. Every purchase above 10€ counts!
                        </p>
                        <div class="section-cta">
                            <a href="{% url 'account_signup' %}" class="cta cta-black">Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>