<!-- content section 1 -->
<section>
    <div class="container-fluid div-section div-section-1">
        {% if request.user.is_authenticated %}
        {% else %}
        <!-- registration prompt window -->
        <div id="registration-prompt">
            <div id="close-prompt">
                <img src="static/images/icons/icon-close.svg" alt="Close button">
            </div>
            <div id="prompt-content">
                <p>create an account and get 10% OFF your first order</p>
                <div class="ml-auto" id="hp-registration-prompt-cta">
                    <a href="{% url 'account_signup' %}" class="cta cta-black ml-auto">Register here</a>
                </div>
            </div>
        </div>
        <!-- registration prompt window -->
        {% endif %}
        <div class="container hp-section-4-heading">
            <h1 class="h2-style">Our most popular products:</h1>
        </div>
        <div class="row hp-section-1">
            <div class="container">
                <div class="row product-recommendations-row">
                    <div class="gallery">
                        <div class="product-recommendations-div">
                            {% include 'homepage/includes/featured_product_card_1.html' %}
                        </div>
                        <div class="product-recommendations-div">
                            {% include 'homepage/includes/featured_product_card_2.html' %}
                        </div>
                        <div class="product-recommendations-div">
                            {% include 'homepage/includes/featured_product_card_3.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>