<!-- content section 4 -->
<section>
    <div class="container hp-section-4-heading">
        <h1 class="h2-style">Curated shopping for you:</h1>
    </div>
    <div class="container-fluid div-section">
        <div class="row hp-section-4">
            <div class="container">
                <div class="row category-card-row">
                    <div class="col-lg-4 col-md-6 col-12 no-padding">
                        <div class="div-category-card float-lg-left">
                            <div class="div-category-card-img">
                                <img src="static/images/homepage/categories/img-hp-cat-1.png" alt="Skincare Image">
                            </div>
                            <div class="d-flex justify-content-center div-category-card-cta">
                                <a href="{% url 'products' %}?category=skincare" class="cta cta-white">Skincare</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 no-padding">
                        <div class="div-category-card">
                            <div class="div-category-card-img">
                                <img src="static/images/homepage/categories/img-hp-cat-2.png" alt="Toiletries Image">
                            </div>
                            <div class="d-flex justify-content-center div-category-card-cta">
                                <a href="{% url 'products' %}?category=toiletries" class="cta cta-white">Toiletries</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12 no-padding">
                        <div class="div-category-card float-lg-right">
                            <div class="div-category-card-img">
                                <img src="static/images/homepage/categories/img-hp-cat-3.png" alt="Shaving Image">
                            </div>
                            <div class="d-flex justify-content-center div-category-card-cta">
                                <a href="{% url 'products' %}?category=shaving" class="cta cta-white">Shaving</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hp-section-cta-row">
                    <div class="hp-section-4-cta">
                        <a href="{% url 'products' %}" class="cta cta-black">Shop all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>