<!-- content section 2 -->
<section>
    <div class="container-fluid container-fluid-box div-section hp-section-2">
        <div class="div-container-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="div-section-text-left">
                            <h1 class="h2-style section-title">We are ECOSiO</h1>
                            <p class="section-p">
                                A marketplace with a mission to make eco-friendly cosmetics 
                                easily available. Check out our selection of synthetic-free 
                                products and brands!
                            </p>
                            <div class="section-cta">
                                <a href="{% url 'products' %}" class="cta cta-black">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 no-padding">
                        <div class="div-section-img-right">
                            <img src="static/images/homepage/img-hp-sec2.png" alt="Sustainable Shaving Kit Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>