<section>
    <div class="container-fluid container-fluid-box div-section hp-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12 no-padding">
                </div>
                <div class="col-xl-6 col-12">
                    <div class="div-section-text-right">
                        <h1 class="h2-style section-title">Sustainability is a choice</h1>
                        <p class="section-p">
                            Some paragraph that goes with the heading above. Talk about this.
                            Some paragraph that goes with the heading above. Talk about this
                            marketplace.
                        </p>
                        <div class="section-cta">
                            <a href="#" class="cta cta-white">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>