<footer>
    <div id="footer">
        <div class="container-fluid">
            <div class="container">
                <div class="row footer-row">
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding">
                        <a href="{% url 'products' %}" class="footer-link mb-7">Shop</a>
                        <a href="{% url 'about' %}" class="footer-link mb-7-mob">About <span class="footer-link-brand">ECOSiO</span></a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding order-md-3 order-lg-2">
                        <a href="{% url 'blog' %}" class="footer-link mb-7">Blog</a>
                        <a href="{% url 'loyalty_programme' %}" class="footer-link mb-15-mob">Loyalty programme</a>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding order-md-2 order-lg-3">
                        <p class="mb-7">© 2021 ECOSiO</p>
                        <p>Hauptstr. 678 Berlin</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3 no-padding order-md-4 order-lg-4">
                        <div class="social-media">
                            <div class="div-footer-some">
                                <a href="https://www.facebook.com" class="some-link" target="_blank">
                                    <img src="{{ STATIC_URL }}images/icons/social-media/icon-facebook.svg" alt="Facebook icon">
                                </a>
                            </div>
                            <div class="div-footer-some">
                                <a href="https://www.instagram.com" class="some-link" target="_blank">
                                    <img src="{{ STATIC_URL }}images/icons/social-media/icon-instagram.svg" alt="Instagram icon">
                                </a>
                            </div>
                            <div class="div-footer-some">
                                <a href="https://www.pinterest.com" class="some-link" target="_blank">
                                    <img src="{{ STATIC_URL }}images/icons/social-media/icon-pinterest.svg" alt="Pinterest icon">
                                </a>
                            </div>
                            <div class="div-footer-some">
                                <a href="https://www.linkedin.com" class="some-link" target="_blank">
                                    <img src="{{ STATIC_URL }}images/icons/social-media/icon-linkedin.svg" alt="Linkedin icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-line line d-none d-lg-block">
                </div>
            </div>
        </div>
    </div>
</footer>