<div id="footer">
    <div class="container-fluid">
        <div class="container">
            <div class="row footer-row">
                <div class="col-3 no-padding">
                    <a href="#" class="footer-link mb-7">Shop</a>
                    <a href="#" class="footer-link">About <span class="footer-link-brand">ECOSiO</span></a>
                </div>
                <div class="col-3 no-padding">
                    <a href="#" class="footer-link mb-7">Blog</a>
                    <a href="#" class="footer-link">Loyalty programme</a>
                </div>
                <div class="col-3 no-padding">
                    <p class="mb-7">© 2020 ECOSiO</p>
                    <p>Hauptstr. 678 Berlin</p>
                </div>
                <div class="col-3 no-padding">
                    <div class="social-media">
                        <div class="div-footer-some">
                            <a href="https://www.facebook.com" class="some-link" target="_blank">
                                <img src="static/images/icons/social-media/icon-facebook.svg" alt="Facebook icon">
                            </a>
                        </div>
                        <div class="div-footer-some">
                            <a href="https://www.instagram.com" class="some-link" target="_blank">
                                <img src="static/images/icons/social-media/icon-instagram.svg" alt="Instagram icon">
                            </a>
                        </div>
                        <div class="div-footer-some">
                            <a href="https://www.pinterest.com" class="some-link" target="_blank">
                                <img src="static/images/icons/social-media/icon-pinterest.svg" alt="Pinterest icon">
                            </a>
                        </div>
                        <div class="div-footer-some">
                            <a href="https://www.linkedin.com" class="some-link" target="_blank">
                                <img src="static/images/icons/social-media/icon-linkedin.svg" alt="Linkedin icon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-line line">
            </div>
        </div>
    </div>
</div>