<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <img src="/static/images/icons/icon-menu.svg" alt="Menu icon">
    </button>
    <a href="{% url 'homepage' %}" class="nav-link logo d-lg-none d-md-flex">
        ECOS<span class="span-green">i</span>O
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'products' %}">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'loyalty_programme' %}">Loyalty programme</a>
            </li>
            <div class="line d-lg-none">
            </div>
            <!-- top nav account links -->
            <div class="top-nav-links d-lg-none">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li>
                            <a class="nav-link" href="#">Manage Products</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Manage Blog</a>
                        </li>
                    {% endif %}
                        <li>
                            <a class="nav-link" href="#">My Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                {% else %}
                        <li>
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Login</a>
                        </li>
                {% endif %}
            </div>
            <li class="search-box-mob">
                <form method="GET" action="{% url 'products' %}" class="search-input-mob">
                    <div class="input-group border-black">
                        <input class="form-control" type="text" name="q" placeholder="looking for..." maxlength="25">
                        <div class="input-group-button">
                            <button class="form-control" type="submit">
                                <span class="icon">
                                    <img src="/static/images/icons/icon-search.svg" alt="search icon">
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
        <a href="{% url 'view_cart' %}" class="d-lg-none d-xl-none cart-link-mob">
        <div class="cart">
            <div class="div-cart-img">
                <img src="/static/images/icons/icon-cart-full.svg" class="cart-img" alt="">
            </div>
        </div>
        <p class="cart-product-count">99</p>
    </a>
</nav>