<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <img src="static/images/icons/icon-menu.svg" alt="Menu icon">
    </button>
    <a href="{% url 'homepage' %}" class="nav-link logo d-lg-none d-md-flex">
        ECOS<span class="span-green">i</span>O
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Loyalty programme</a>
            </li>
            <div class="line d-lg-none">
            </div>
            <div class="top-nav-links d-lg-none">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li>
                            <a class="nav-link" href="#">Product Management</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Blog Management</a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="nav-link" href="#">My Profile</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                {% else %}
                        <li>
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Login</a>
                        </li>
                {% endif %}
            </div>
        </ul>
    </div>
</nav>