<div class="row bg-white">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'homepage' %}" class="nav-link" id="logo">
            ECOS<span class="span-green">i</span>O
        </a>
    </div>
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'products' %}">
            <div class="input-group border-black">
                <input class="form-control" type="text" name="q" placeholder="looking for..." maxlength="25">
                <div class="input-group-button">
                    <button class="form-control" type="submit">
                        <span class="icon">
                            <img src="/static/images/icons/icon-search.svg" alt="search icon">
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
                <a class="nav-link" href="{% url 'profile' %}" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My account
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item nav-link">Add new product</a>
                            <a href="{% url 'add_blog' %}" class="dropdown-item nav-link">Add new blog</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item nav-link">My Account</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item nav-link">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item nav-link">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item nav-link">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <!-- cart with product count -->
                <a href="{% url 'view_cart' %}">
                    {% if product_count > 0 %}
                        <div class="cart">
                            <div class="div-cart-img">
                                <img src="/static/images/icons/icon-cart-full.svg" class="cart-img" alt="">
                            </div>
                        </div>
                        <p class="cart-product-count">{{ product_count }}</p>
                    {% else %}
                        <div class="cart">
                            <div class="div-cart-img">
                                <img src="/static/images/icons/icon-cart-empty.svg" class="cart-img" alt="">
                            </div>
                        </div>
                        <p class="cart-product-count">0</p>
                    {% endif %}
                </a>
                <!-- cart with product count -->
            </li>
        </ul>
    </div>
</div>