{% extends "base.html" %}
{% load static %}

{% block title %}{{ blog.title }}{% if blog.author %} by {{ blog.author }}{% endif %}{% endblock %}

{% block header_content %}
    <div class="blog-post-header">
        <img src="{{ MEDIA_URL }}{{ blog.header_image }}" class="blog-header-image" alt="{{ blog.title }}">
    </div>
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid div-section">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <p class="paragraph-margin blog-post-publishing-details">
                            published on {{ blog.published_date | date:"F d Y" }} 
                            {% if blog.author %}
                                by <span class="green-text">{{ blog.author }}</span>
                            {% endif %}
                        </p>
                        {% if request.user.is_superuser %}
                            <div class="blog-post-superuser-options mb-2">
                                <a href="{% url 'edit_blog' blog.slug %}">
                                    <div class="div-product-card-edit"></div>
                                </a>
                                <!-- deleteBlogModal Button -->
                                <button type="button" class="modal-button" data-toggle="modal" data-target="#deleteBlogModal{{ blog.slug }}">
                                    <div class="div-product-card-delete"></div>
                                </button>
                                <!-- deleteBlogModal Modal -->
                                <div class="modal fade" id="deleteBlogModal{{ blog.slug }}" tabindex="-1" role="dialog" aria-labelledby="deleteBlogModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <img src="{{ STATIC_URL }}images/icons/icon-close-toast.svg" alt="Icon Close">
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h3 class="modal-title-h3 text-center" id="deleteBlogModalLabel">Deleting a blog post</h3>
                                                <p class="text-center modal-text">
                                                    Are you sure you want to delete 
                                                    <span class="green-text">{{ blog.title }}</span>?
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'delete_blog' blog.slug %}" class="cta cta-black">Delete blog post</a>
                                                <button type="button" class="cta cta-white" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- deleteBlogModal Modal -->
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <h1 class="h1-style text-center mt-3">{{ blog.title }}</h1>
                </div>
                <div class="row mt-3">
                    <div class="container">
                        <p class="paragraph-margin">
                            {{ blog.intro_paragraph }}
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="container">
                        <h2 class="h2-style">{{ blog.subheading_1 }}</h2>
                        <p class="paragraph-margin">{{ blog.blog_content_1 }}</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="container">
                        <h2 class="h2-style">{{ blog.subheading_2 }}</h2>
                        <p class="paragraph-margin">{{ blog.blog_content_2 }}</p>
                    </div>
                </div>
                {% if blog.subheading_3 and blog.blog_content_3 %}
                    <div class="row mt-5">
                        <div class="container">
                            <h2 class="h2-style">{{ blog.subheading_3 }}</h2>
                            <p class="paragraph-margin">{{ blog.blog_content_3 }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="container">
                    <p class="paragraph-margin font-italic text-center">
                        Interested in eco-friendly cosmetic products? We have a lot of them in our shop. Click below to have a look!
                    </p>
                    <div class="paragraph-cta mt-4">
                        <a href="{% url 'products' %}" class="cta cta-white">Shop here</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
        <script>
        // handle broken blog header images
        $('.blog-header-image').on("error", function() {
            $(this).attr('src', '/media/no_image_blog.png');
        });
        </script>
{% endblock %}