<div class="row order-summary-row m-0">
    <div class="order-summary-cards">
        {% for item in cart_items %}
        <div class="order-summary-card">
            <div class="order-summary-card-quantity">
                <p>{{ item.quantity }}</p>
            </div>
            <div class="div-order-summary-card">
                <div class="div-order-summary-product">
                    {% if item.product.image %}
                        <img src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.name }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}no_image.png" alt="No Image Available">
                    {% endif %}
                    <p class="order-summary-card-title">{{ item.product.name }}</p>
                    <p class="order-summary-card-brand-price">{{ item.product.brand.short_name }} | {{ item.product.price }}€</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row m-0 mb-5">
    <div class="div-order-costs-summary">
        <div class="div-order-total-costs">
            {% if original_total == total %}
                <p>order total: {{ total|floatformat:2 }}€</p>
            {% else %}
                <p>order total: <span class="text-line-through">{{ original_total|floatformat:2 }}€</span> <span class="green-text">{{ total }}€</span></p>
                <p id="discount-costs-message" class="green-text">*we have applied 10% discount to your first order </p>
            {% endif %}
        </div>
        <div class="div-shipping-costs">
            {% if free_delivery_delta > 0 %}
                <p>shipping costs: {{ delivery|floatformat:2 }}</p>
                <p id="shipping-costs-message" class="green-text">*free shipping available by spending {{ free_delivery_delta|floatformat:2 }}€ more</p>
            {% else %}
                <p>shipping costs: <span class="green-text text-uppercase">FREE</span></p>
            {% endif %}
        </div>
        <div class="div-total-costs">
            <p class="green-text text-uppercase">total: {{ grand_total|floatformat:2 }}€</p>
        </div>
    </div>
</div>