{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Account Inactive" %}{% endblock %}

{% block inner_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h2-style text-center">{% trans "Account Inactive" %}</h1>
                <div class="div-hr"></div>
            </div>
        </div>
    </div>

    <div class="container general-container">
        <div class="row">
            <div class="col">
                <p class="text-center">{% trans "This account is inactive." %}</p>
            </div>
        </div>
    </div>
{% endblock %}