{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Log In" %}{% endblock %}

{% block inner_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h2-style text-center">{% trans "Log In" %}</h1>
                <div class="div-hr"></div>
            </div>
        </div>
    </div>

    <div class="container general-container">
        <div class="row">
            <div class="col">
                <div class="div-login-form">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="primaryAction cta cta-black mt-2" type="submit">{% trans "Log In" %}</button>
                        <p class="mt-4">
                            <a class="button secondaryAction text-link login-p" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </p>
                        <p class="mt-1 login-p">{% blocktrans %}Don't have an account? <a href="{{ signup_url }}" class="text-link">Register here</a>.{% endblocktrans %}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}