{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block inner_content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h2-style text-center">{% trans "Create an account" %}</h1>
                <div class="div-hr"></div>
            </div>
        </div>
    </div>

    <div class="container general-container">
        <div class="row">
            <div class="col">
                <div class="div-signup-form">
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="cta cta-black mt-2">{% trans "Register" %}</button>
                    </form>
                    <p class="mt-4 signup-p">{% blocktrans %}Already have an account? <a href="{{ login_url }}" class="text-link">Log in here</a>.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}