{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <!-- might not need FA -->
            <script src="https://kit.fontawesome.com/ab0d80c64f.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>ECOSiO - eco-friendly cosmetics for men</title>
    </head>

    <body>

        <header>
            <div id="div-nav">
                <div class="container-fluid fixed-top" id="top-nav">
                    <div class="container">
                        {% include 'includes/top-nav.html' %}
                    </div>
                </div>
                <div class="container-fluid fixed-top" id="main-nav">
                    <div class="container">
                        {% include 'includes/main-nav.html' %}
                    </div>
                </div>
            </div>
            <div class="div-header">
                <div class="container-fluid">
                    {% block header_content %}
                    {% endblock %}
                </div>
            </div>
        </header>

        {% block section_content_1 %}
        {% endblock %}

        {% block section_content_2 %}
        {% endblock %}

        {% block section_content_3 %}
        {% endblock %}

    </body>


</html> 