<section>
    <div class="container-fluid div-section div-section-lp">
        <div class="container">
            <div class="row loyalty-programme-section-1">
                <h1 class="h1-style plr-15">Loyalty programme - get more!</h1>
            </div>
            <div class="row">
                <div class="container">
                    <p class="paragraph-margin">
                        Some paragraph that goes with the heading above. Talk about us.
                        Some paragraph that goes with the heading above. Talk about this marketplace.
                        Some paragraph that goes with the heading above. Talk about us. Some paragraph that
                        goes with the heading above. Talk about this marketplace.
                        Some paragraph that goes with the heading above.
                        Some paragraph that goes with the heading above.
                    </p>
                </div>
            </div>
            <div class="row loyalty-programme-section-1-explanation">
                <img src="../static/images/loyalty-programme/img-loyalty-sec1.svg" class="plr-15 s-d-none" alt="Loyalty programme explained">
                <img src="../static/images/loyalty-programme/img-loyalty-sec1-mob.svg" class="plr-15 display-none s-d-block" alt="Loyalty programme explained">
            </div>
            <div class="row">
                <div class="container">
                    <p class="paragraph-margin">
                        Some paragraph that goes with the heading above. Talk about us.
                        Some paragraph that goes with the heading above. Talk about this marketplace.
                        Some paragraph that goes with the heading above. Talk about us. Some paragraph that
                        goes with the heading above. Talk about this marketplace.
                    </p>
                    <div class="paragraph-cta">
                        <a href="#" class="cta cta-white">Join today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>