<section>
    <div class="container-fluid div-section div-section-lp">
        <div class="container">
            <div class="row loyalty-programme-section-1">
                <h1 class="h1-style plr-15">Loyalty programme - get more!</h1>
            </div>
            <div class="row">
                <div class="container">
                    <p class="paragraph-margin">
                        Living sustainably is the best gift we can give to ourselves and our environment. That doesn't necessarily 
                        mean, however, that it's an easy choice. For our amazing customers, we have developed an enticing loyalty 
                        programme with wonderful rewards. As a head start, we are giving you 10% off your first purchase to try out 
                        the products we have selected for you as soon as possible!
                    </p>
                </div>
            </div>
            <div class="row loyalty-programme-section-1-explanation">
                <img src="{{ STATIC_URL }}images/loyalty-programme/img-loyalty-sec1.svg" class="plr-15 s-d-none" alt="Loyalty programme explained">
                <img src="{{ STATIC_URL }}images/loyalty-programme/img-loyalty-sec1-mob.svg" class="plr-15 display-none s-d-block" alt="Loyalty programme explained">
            </div>
            <div class="row">
                <div class="container">
                    <p class="paragraph-margin">
                        How does the programme work? For each 10€ spent, we are giving you 1 loyalty point. Based on your status, 
                        different levels will unlock, each offering you additional benefits. Remember that shipping costs don't 
                        bring points so that we as a company can stay fair towards our packaging and delivery efforts - but we offer 
                        free delivery to our <span class="green-text text-uppercase">eco-fighters</span> and 
                        <span class="green-text text-uppercase">eco-experts</span>, as well as for every order above 
                        120€. Read more about the programme benefits below:
                    </p>
                    <div class="paragraph-cta">
                        <a href="{% url 'account_signup' %}" class="cta cta-white">Join today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>