<section>
    <div class="container-fluid div-section">
        <div class="container">
            <div class="row loyalty-programme-section-1">
                <h1 class="h2-style plr-15">Loyalty programme levels and benefits</h1>
            </div>
            <div class="row benefits-row">
                <div class="col-md-3 col-lg-2 col-12 no-padding">
                    <div class="div-benefit-card">
                        <div class="div-benefit">
                            <img src="../static/images/loyalty-programme/benefits-illustrations/icon-benefits-level1.svg" alt="Icon Eco-Newbie Loyalty Status">
                        </div>
                        <p><span>0 - 60 points</span></p>
                        <p>eco-newbie</p>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10 col-12">
                    <div class="div-benefit-text">
                        <ul>
                            <li><span class="green-text text-uppercase">10% off</span> your first order</li>
                            <li>save delivery details for a smooth checkout</li>
                            <li>get access to your order history</li>
                            <li>receive our weekly newsletter and be the first one to know about our special offers</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row benefits-row">
                <div class="col-md-3 col-lg-2 col-12 no-padding">
                    <div class="div-benefit-card">
                        <div class="div-benefit">
                            <img src="../static/images/loyalty-programme/benefits-illustrations/icon-benefits-level2.svg" alt="Icon Eco-Fighter Loyalty Status">
                        </div>
                        <p><span>61 - 100 points</span></p>
                        <p>eco-fighter</p>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10 col-12">
                    <div class="div-benefit-text">
                        <ul>
                            <li>all the benefits as eco-newbies</li>
                            <p>+</p>
                            <li><span class="green-text"><span class="text-uppercase">free</span> delivery</span> with every purchase</li>
                            <li>make impact by donating your points to meaningful organisations dealing with environmental causes</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row benefits-row">
                <div class="col-md-3 col-lg-2 col-12 no-padding">
                    <div class="div-benefit-card">
                        <div class="div-benefit">
                            <img src="../static/images/loyalty-programme/benefits-illustrations/icon-benefits-level3.svg" alt="Icon Eco-Expert Loyalty Status">
                        </div>
                        <p><span>101+ points</span></p>
                        <p>eco-expert</p>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10 col-12">
                    <div class="div-benefit-text">
                        <ul>
                            <li>all the benefits as eco-newbies and eco-fighters</li>
                            <p>+</p>
                            <li><span class="green-text"><span class="text-uppercase">free</span> bi-yearly set of sample collection</span> delivered to your address</li>
                            <li>get invited to our special events as a guest of honour</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="paragraph-cta">
                <a href="{% url 'account_signup' %}" class="cta cta-white">Create an account</a>
            </div>
        </div>
    </div>
</section>