<section>
    <div class="container-fluid container-fluid-box div-section about-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12 no-padding">
                </div>
                <div class="col-xl-6 col-12 column-background">
                    <div class="div-section-text-right">
                        <h1 class="h2-style section-title">Our products</h1>
                        <p class="section-p">
                            We only choose products and brands that are in line with our mission. 
                            Before we put something on the site, our team prepares an extensive analysis about 
                            the ingredients, fair trade and environmental impact of the production. Every 
                            product on the site has a full list of ingredients available.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>