<section>
    <div class="container-fluid div-section">
        <div class="container">
            <div class="row about-section-4">
                <h1 class="h2-style paragraph-subtitle">Join us</h1>
            </div>
            <div class="row">
                <div class="container">
                    <p class="paragraph-margin">
                        Apart from an opportunity to support your health and participate in natural restoration of our 
                        eco-system, we have developed an enticing loyalty programme with amazing rewards to help you stay 
                        on track. Every purchase above 10€ counts and we are giving you 10% off your first purchase to 
                        help you get started!
                    </p>
                    <div class="paragraph-cta">
                        <a href="{% url 'account_signup' %}" class="cta cta-white">Join now</a>
                    </div>
                    <div class="about-last-img">
                        <img src="../static/images/about/img-about-last.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>