<section>
    <div class="container-fluid div-section">
        <div class="container">
            <div class="row about-section-1">
                <h1 class="h1-style">About us</h1>
            </div>
            <div class="row">
                <div class="container">
                    <p class="paragraph-margin">
                        Some paragraph that goes with the heading above. Talk about us.
                        Some paragraph that goes with the heading above. Talk about this marketplace.
                        Some paragraph that goes with the heading above. Talk about us. Some paragraph that
                        goes with the heading above. Talk about this marketplace.
                    </p>
                    <p class="paragraph-margin">
                        Some paragraph that goes with the heading above. Talk about us.
                        Some paragraph that goes with the heading above. Talk about this marketplace.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row about-section-1-usp">
                        <div class="div-usp-card">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-tree.svg" alt="Tree illustration icon">
                            </div>
                            <p class="usp-text">Environment and customers come first</p>
                        </div>
                        <div class="div-usp-card">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-research.svg" alt="Research illustration icon">
                            </div>
                            <p class="usp-text">Products selected by internal research team</p>
                        </div>
                        <div class="div-usp-card">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-leaf.svg" alt="Leaf illustration icon">
                            </div>
                            <p class="usp-text">Inteligent solutions for everyday care</p>
                        </div>
                        <div class="div-usp-card">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-package.svg" alt="Package illustration icon">
                            </div>
                            <p class="usp-text">Free return policy for up to 30 days</p>
                        </div>
                        <div class="div-usp-card">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-medal.svg" alt="Medal illustration icon">
                            </div>
                            <p class="usp-text">Enticing loyalty programme</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>