<section>
    <div class="container-fluid container-fluid-box div-section about-section-2">
        <div class="div-container-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="div-section-text-left">
                            <h1 class="h2-style section-title">Our mission</h1>
                            <p class="section-p">
                                Easily available eco-cosmetics for everyone is only our 
                                start! Our aim is to revolutionise cosmetic industry from head 
                                to toe. We've already started by supporting and promoting only products 
                                that fulfil eco-friendly criteria and requirements. Next stop? Let's 
                                get rid of synthetic cosmetics completely!
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 no-padding">
                        <div class="div-section-img-right">
                            <img src="{{ STATIC_URL }}images/about/img-about-sec2.png" class="paragraph-img" alt="Rainforest Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>