<section>
    <div class="container-fluid div-section">
        <div class="container">
            <div class="row about-section-4">
                <h1 class="h2-style paragraph-subtitle">Join us</h1>
            </div>
            <div class="row">
                <div class="container">
                    <p class="paragraph-margin">
                        Some paragraph that goes with the heading above. Talk about us.
                        Some paragraph that goes with the heading above. Talk about this marketplace.
                        Some paragraph that goes with the heading above. Talk about us. Some paragraph that
                        goes with the heading above. Talk about this marketplace.
                    </p>
                    <div class="paragraph-cta">
                        <a href="#" class="cta cta-white">Join now</a>
                    </div>
                    <div class="about-last-img">
                        <img src="../static/images/about/img-about-last.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>