<section>
    <div class="container-fluid container-fluid-box div-section about-section-2">
        <div class="div-container-box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="div-section-text-left">
                            <h1 class="h2-style section-title">Our mission</h1>
                            <p class="section-p">
                                Some paragraph that goes with the heading above. Talk about this.
                                Some paragraph that goes with the heading above. Talk about this 
                                marketplace.
                                Some paragraph that goes with the heading above. Talk about this.
                                Some paragraph that goes with the heading above. Talk about this 
                                marketplace.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 no-padding">
                        <div class="div-section-img-right">
                            <img src="../static/images/about/img-about-sec2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>