<section>
    <div class="container-fluid div-section">
        <div class="container">
            <div class="row about-section-1">
                <h1 class="h1-style">About us</h1>
            </div>
            <div class="row">
                <div class="container">
                    <p class="paragraph-margin">
                        Welcome to ECOSiO - a marketplace with a mission to make eco-friendly cosmetics easily 
                        available. Our team consists of young dermatologists, laboratory scientists, ecologists,
                        nutritionists and health-enthusiasts. We believe that both environment and our health 
                        always come first - we should never be forced to choose one or another.
                    </p>
                    <p class="paragraph-margin">
                        We understand sustainability can be an overwhelming and, quite often, an expensive choice. 
                        Our internal research team is following all the latest updates about impact of cosmetics full of 
                        synthetic ingredients on our health and environment so that you can have a great shopping experience.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row about-section-1-usp">
                        <div class="div-usp-card">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-tree.svg" alt="Tree illustration icon">
                            </div>
                            <p class="usp-text">Environment and customers come first</p>
                        </div>
                        <div class="div-usp-card xs-d-none">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-research.svg" alt="Research illustration icon">
                            </div>
                            <p class="usp-text">Products selected by internal research team</p>
                        </div>
                        <div class="div-usp-card xs-d-none">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-leaf.svg" alt="Leaf illustration icon">
                            </div>
                            <p class="usp-text">Inteligent solutions for everyday care</p>
                        </div>
                        <div class="div-usp-card">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-package.svg" alt="Package illustration icon">
                            </div>
                            <p class="usp-text">Free return policy for up to 30 days</p>
                        </div>
                        <div class="div-usp-card">
                            <div class="div-usp">
                                <img src="../static/images/about/usp-illustrations/icon-usp-medal.svg" alt="Medal illustration icon">
                            </div>
                            <p class="usp-text">Enticing loyalty programme</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>