{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name|title }} - by {{ product.brand.friendly_name }}{% endblock %}

{% block content %}

    <div class="correct-header">
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row shop-top-row">
                <div class="col-12">
                    {% include 'products/includes/breadcrumbs_product_page.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 product-page-card">
                {% if request.user.is_superuser %}
                 <div class="product-page-superuser-options">
                    <a href="{% url 'edit_product' product.id %}">
                        <div class="div-product-card-edit"></div>
                    </a>
                    <!-- deletePresentModal Button -->
                    <button type="button" class="modal-button" data-toggle="modal" data-target="#deletePresentModal{{ product.id }}">
                        <span class="span-product-card-delete"></span>
                    </button>
                    <!-- deletePresentModal Modal -->
                    <div class="modal fade" id="deletePresentModal{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="deletePresentModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <img src="{{ STATIC_URL }}images/icons/icon-close-toast.svg" alt="Icon Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h3 class="modal-title-h3 text-center" id="deletePresentModalLabel">Deleting a product</h3>
                                    <p class="text-center modal-text">
                                        Are you sure you want to delete 
                                        <span class="green-text">{{ product.name }}</span> by
                                        {{ product.brand.friendly_name }}
                                        ?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'delete_product' product.id %}" class="cta cta-black">Delete product</a>
                                    <button type="button" class="cta cta-white" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- deletePresentModal Modal -->
                </div>
                {% endif %}
                <div class="product-page-img-div">
                    {% if product.image %}
                        <img src="{{ MEDIA_URL }}{{ product.image }}" class="product-page-img" alt="{{ product.name }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}no_image.png" class="product-page-img" alt="No Image Available">
                    {% endif %}
                </div>
                <p class="product-page-card-title">{{ product.name }}</p>
                <p class="product-page-card-brand-price">
                    <span class="product-page-card-brand">{{ product.brand.friendly_name }}</span>
                    |
                    <span class="product-page-card-price">{{ product.price }}</span>€
                </p>
            </div>
            <!-- product details -->
            <div class="col-lg-6 col-12 product-details">
                <div class="div-top-details">
                    <div class="product-details-div">
                        <h1 class="h2-style product-details-name">{{ product.name }}</h1>
                        <h2 class="product-details-brand">{{ product.brand.friendly_name }}</h2>
                        <p class="product-details-description">{{ product.description }}</p>
                    </div>
                    <div class="product-details-tags-div">
                        <div class="product-tag-div">
                            <div class="div-tag-icon">
                                <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-eco-friendly.svg" alt="Icon Eco-Friendly Tag">
                            </div>
                            <p class="tag-meaning">Eco-friendly</p>
                        </div>
                        {% if product.is_crueltyfree %}
                            <div class="product-tag-div">
                                <div class="div-tag-icon">
                                    <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-cruelty-free.svg" alt="Icon Cruelty-Free Tag">
                                </div>
                                <p class="tag-meaning">Cruelty-free</p>
                            </div>
                        {% endif %}
                        {% if product.is_vegan %}
                            <div class="product-tag-div">
                                <div class="div-tag-icon">
                                    <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-vegan.svg" alt="Icon Vegan Tag">
                                </div>
                                <p class="tag-meaning">100% vegan</p>
                            </div>
                        {% endif %}
                        {% if product.is_organic %}
                            <div class="product-tag-div">
                                <div class="div-tag-icon">
                                    <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-organic.svg" alt="Icon Organic Tag">
                                </div>
                                <p class="tag-meaning">100% organic</p>
                            </div>
                        {% endif %}
                        {% if product.is_natural %}
                            <div class="product-tag-div">
                                <div class="div-tag-icon">
                                    <img src="{{ STATIC_URL }}images/icons/product-tags/icon-tag-natural.svg" alt="Icon Natural Tag">
                                </div>
                                <p class="tag-meaning">100% natural</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="div-bottom-details">
                    <div class="product-page-buying-details">
                        <p class="product-details-price">{{ product.price }}€</p>
                        <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                            <!-- add/subtract input -->
                            <div class="form-group">
                                <div class="input-group input-group-product-quantity">
                                    <div class="input-group-prepend">
                                        <button class="decrement-quantity btn rounded-0" data-item-id="{{ product.id }}" id="decrement-quantity-{{ product.id }}">
                                            <img src="{{ STATIC_URL }}images/icons/icon-product-subtract.svg" alt="Icon Subtract">
                                        </button>
                                    </div>
                                    <input class="form-control quantity-input input-product-quantity" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item-id="{{ product.id }}"
                                        id="id-quantity-{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-quantity btn rounded-0" data-item-id="{{ product.id }}" id="increment-quantity-{{ product.id }}">
                                            <img src="{{ STATIC_URL }}images/icons/icon-product-add.svg" alt="Icon Add">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- add/subtract input -->
                            <input type="submit" class="cta cta-black product-page-cta" value="Add to cart">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <div class="div-loyalty-programme-product-info">
                                {% if request.user.is_authenticated %}
                                    {% if product_loyalty_points == 0 %}
                                        <p class="loyalty-programme-product-info">combine with other products to get more <span class="green-text">loyalty points!</span></p>
                                    {% elif product_loyalty_points == 1 %}
                                        <p class="loyalty-programme-product-info">this item brings <span class="green-text">{{ product_loyalty_points }}</span> loyalty point!</p>
                                    {% else %}
                                        <p class="loyalty-programme-product-info">this item brings <span class="green-text">{{ product_loyalty_points }}</span> loyalty points!</p>
                                    {% endif %}
                                {% else %}
                                    {% if product_loyalty_points == 0 %}
                                        <p class="loyalty-programme-product-info"><a href="{% url 'account_signup' %}" class="text-link">register here</a> to start collecting loyalty points!</p>
                                    {% elif product_loyalty_points == 1 %}
                                        <p class="loyalty-programme-product-info">this item brings <span class="green-text">{{ product_loyalty_points }}</span> loyalty point – <a href="{% url 'account_signup' %}" class="text-link">register here</a></p>
                                    {% else %}
                                        <p class="loyalty-programme-product-info">this item brings <span class="green-text">{{ product_loyalty_points }}</span> loyalty points – <a href="{% url 'account_signup' %}" class="text-link">register here</a></p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- product details -->
        </div>
    </div>

    <div class="container">
        <div class="row row-ingredients-shipping">
            <div class="col-12">
                <div id="accordion">
                    <div class="card" data-toggle="collapse" data-target="#collapseOne">
                        <div class="card-header" id="headingOne" >
                            <h3 class="mb-0 product-details-additional">
                                {% if product.category.pk == 4 %}
                                    Contents
                                {% else %}
                                    Ingredients
                                {% endif %}
                            </h3>
                            <img src="{{ STATIC_URL }}images/icons/icon-accordion-arrow-down.svg" class="accordion-icon" alt="Icon Accordion arrow Down">
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p class="accordion-card-paragraph">
                                {{ product.ingredients }}
                            </p>
                        </div>
                        </div>
                    </div>
                    <div class="card" data-toggle="collapse" data-target="#collapseTwo">
                        <div class="card-header" id="headingTwo">
                            <h3 class="mb-0 product-details-additional">
                                Shipping details
                            </h3>
                            <img src="{{ STATIC_URL }}images/icons/icon-accordion-arrow-down.svg" class="accordion-icon" alt="Icon Accordion arrow Down">
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p class="accordion-card-paragraph">
                                Shipping costs are 4.00€ for purchases below 120.00€. For orders worth 120.00€ and above, shipping is <span class="green-text text-uppercase">free</span>. 
                                <span class="text-uppercase">eco-fighter</span> and <span class="text-uppercase">eco-expert</span> customers get <span class="green-text text-uppercase">free</span> shipping
                                with their every purchase (join <a href="{% url 'loyalty_programme' %}" class="text-link">our loyalty programme</a>).
                            </p>
                            <p class="accordion-card-paragraph">
                                Delivery throughout the Europe and Worldwide is via tracked and signed for courier. 
                                Please be advised that international shipping can take up to 7 to 10 working days for delivery, however, it usually only takes around 4 to 5 days to deliver.
                            </p>
                            <p class="accordion-card-paragraph">
                                Orders placed after 12 PM Monday to Thursday will be packed and shipped the next day. 
                                Orders placed on a Friday after 12.00pm and over a weekend will be packaged up for shipping on the Monday after. 
                                In the event of a bank holiday or over the Christmas and New Year period, orders are packed up and shipped the next working day after any bank holiday.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% include 'products/includes/product_page_recommendations.html' %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'products/js/quantity_input.js' %}"></script>
{% endblock %}