{% extends "base.html" %}
{% load static %}

{% block title %}Shop Eco-friendly Products{% endblock %}

{% block content %}
    <div class="correct-header">
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row shop-top-row">
                <div class="col-sm-6 col-12">
                    {% include 'products/includes/breadcrumbs.html' %}
                </div>
                <div class="col-sm-6 col-12">
                    {% include 'products/includes/sort_products.html' %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% include 'products/includes/shop.html' %}
    </div>

    {% block postloadjs %}
        {{ block.super }}
            {% include 'products/includes/sorting_products_script.html' %}
            <!-- fix visual filters on top when scrolling -->
            <!-- credits: https://stackoverflow.com/questions/1216114/how-can-i-make-a-div-stick-to-the-top-of-the-screen-once-its-been-scrolled-to -->
            <script>
                $(window).scroll(function(e){ 
                    var $el = $('.dsk-visual-filters'); 
                    var isPositionFixed = ($el.css('position') == 'fixed');
                    if ($(this).scrollTop() > 100 && !isPositionFixed){ 
                        $el.css({'position': 'fixed', 'top': '130px'}); 
                    }
                    if ($(this).scrollTop() < 100 && isPositionFixed){
                        $el.css({'position': 'static', 'top': '0px'}); 
                    } 
                });
            </script>
    {% endblock %}

{% endblock %}